@model CoreLayout.Models.UserManagement.ButtonPermissionModel
@{
    ViewData["Title"] = "Create";
}

<div class="main-content side-content pt-0">
    <div class="side-app">

        <div class="main-container container-fluid">


            <!-- Page Header -->
            <div class="page-header">
                <div>
                    <h2 class="main-content-title tx-24 mg-b-5">Create Button Permission</h2>
                    <hr />
                </div>

            </div>
            <!-- End Page Header -->
            <!-- Conetnt Start-->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card custom-card">
                        <div class="card-body">
                            <div>
                                <h6 class="card-title mb-1">Create Button Permission</h6>
                                <hr />
                            </div>



                            <form asp-action="Create" method="post">
                                <div class="row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger">

                                    </div>

                                    <div class="col-md-6">
                                        <div>
                                            <label asp-for="MenuId" class="mg-b-10"> </label>
                                            <select style="width:550px; height:120px" class="select" asp-for="MenuId" asp-items="@(new SelectList(Model.MenuList,"MenuID","MenuName"))">
                                                <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                            </select>
                                            <span asp-validation-for="MenuId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <label asp-for="Action" class="mg-b-10"> </label>
                                            <input asp-for="Action" class="form-control" value="Index" readonly="readonly" />
                                            <span asp-validation-for="Action" class="text-danger"></span>
                                        </div>
                                    </div>

                                    @*<div class="col-md-6">
            <div class="form-group">
                <label asp-for="URL" class="mg-b-10"> </label>
                <input asp-for="URL" class="form-control"  />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
        </div>*@
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="ButtonId" class="mg-b-10"> </label>
                                            <select style="width:550px; height:120px" class="select" asp-for="ButtonList" multiple asp-items="@(new SelectList(ViewBag.GetButtonList,"ButtonId","ButtonName"))">
                                                @*<option selected="selected" disabled="disabled" value="">--Select-- </option>*@
                                            </select>
                                            <span asp-validation-for="ButtonId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="RoleId" class="mg-b-10"> </label>
                                            <select style="width:550px; height:120px" class="select" asp-for="RoleId" asp-items="@(new SelectList(Model.RoleList,"RoleID","RoleName"))">
                                                <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                            </select>
                                            <span asp-validation-for="RoleId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="UserId" class="mg-b-10"> </label>
                                            <select style="width:550px; height:120px" class="select" asp-for="UserId" asp-items="@(new SelectList(string.Empty,"UserID","UserName"))">
                                                <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                            </select>
                                            <span asp-validation-for="UserId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    @*<div cclass="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="IsRecordActive"> </label>
                                        
                                        <div class="col-5">
                                            @Html.DropDownList("IsRecordActive", new List<SelectListItem>
                                            {
                                                 new SelectListItem{ Text="Active", Value = "1" },
                                                 new SelectListItem{ Text="InActive", Value = "0" },

                                            },
                                            new { @class = "form-control" })
                                        </div>
                                        <span asp-validation-for="IsRecordActive" class="text-danger"></span>
                                            </div>
                                    </div>*@
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Save" />
                                    <a asp-action="Index" class="btn btn-success">Back to List</a>

                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Conetnt End-->

        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#RoleId").on("change", function () {

                $("#UserId").empty();

                var ddlsource = "#RoleId";
                var url = '@Url.Content("~/")' + "ButtonPermission/GetUser?RoleId="+$(ddlsource).val();

                $.getJSON(url, function (data) {
                var items = '';
                    $("#UserId").empty();
                    $.each(data, function (i, user) {
                        items += "<option value ='" + user.value + "'>" + user.text + "</option>";
                });
                    $('#UserId').html(items);
            });
            });
        });
    </script>

    @*select 2 dropdown script and css*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--These jQuery libraries for
       chosen need to be included-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css" />

    <!--These jQuery libraries for select2
        need to be included-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" />
    <script>
        $(document).ready(function () {
            //Select2
            $(".select").select2({
                maximumSelectionLength: 5,
            });
            //Chosen
            $(".select1").chosen({
                max_selected_options: 5,
            });
        });
    </script>
}







