@model CoreLayout.Models.UserManagement.ButtonPermissionModel
@{
    ViewData["Title"] = "Create";
}
<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Create Button Permission</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">ButtonPermission</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </div>

</div>
<!-- End Page Header -->
<!-- Conetnt Start-->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                @*<div>
                        <h6 class="card-title mb-1">Create State</h6>
                        <hr>
                    </div>*@
                <form asp-action="Create" method="post">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger">

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="MenuId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="MenuId" asp-items="@(new SelectList(Model.MenuList,"MenuID","MenuName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span asp-validation-for="MenuId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Action"> </label><span class="tx-danger"> *</span>
                                <input asp-for="Action" class="form-control" value="Index" readonly="readonly" />
                                <span asp-validation-for="Action" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ButtonId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="ButtonList" multiple asp-items="@(new SelectList(ViewBag.GetButtonList,"ButtonId","ButtonName"))">
                                    @*<option selected="selected" disabled="disabled" value="">--Select-- </option>*@
                                </select>
                                <span asp-validation-for="ButtonId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="RoleId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="RoleId" asp-items="@(new SelectList(Model.RoleList,"RoleID","RoleName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span asp-validation-for="RoleId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="UserId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="UserId" asp-items="@(new SelectList(string.Empty,"UserID","UserName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span asp-validation-for="UserId" class="text-danger"></span>
                            </div>
                        </div>
                        @*<div cclass="col-md-6">
                                <div class="form-group">
                                    <label asp-for="IsRecordActive"> </label>

                                <div class="col-5">
                                    @Html.DropDownList("IsRecordActive", new List<SelectListItem>
                                    {
                                         new SelectListItem{ Text="Active", Value = "1" },
                                         new SelectListItem{ Text="InActive", Value = "0" },

                                    },
                                    new { @class = "form-control" })
                                </div>
                                <span asp-validation-for="IsRecordActive" class="text-danger"></span>
                                    </div>
                            </div>*@
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Save" />
                        <a asp-action="Index" class="btn btn-success">Back to List</a>

                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#RoleId").on("change", function () {

                $("#UserId").empty();

                var ddlsource = "#RoleId";
                var url = '@Url.Content("~/")' + "ButtonPermission/GetUser?RoleId="+$(ddlsource).val();

                $.getJSON(url, function (data) {
                var items = '';
                    $("#UserId").empty();
                    $.each(data, function (i, user) {
                        items += "<option value ='" + user.value + "'>" + user.text + "</option>";
                });
                    $('#UserId').html(items);
            });
            });
        });
    </script>
}







