@model CoreLayout.Models.Masters.CourseModel
@{
    ViewData["Title"] = "Edit";
}

<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Edit Course</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Course</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
    </div>

</div>
<!-- End Page Header -->
<!-- Conetnt Start-->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                @*<div>
                        <h6 class="card-title mb-1">Edit State</h6>
                        <hr />
                    </div>*@

                <form asp-action="Edit" method="post">
                    <div class="row">
                        <input type="hidden" asp-for="CourseID" />
                        <div asp-validation-summary="ModelOnly" class="text-danger">

                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="CourseCode"> </label><span class="tx-danger"> *</span>
                                <input asp-for="CourseCode" class="form-control" />
                                <span asp-validation-for="CourseCode" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="CourseName"> </label><span class="tx-danger"> *</span>
                                <input asp-for="CourseName" class="form-control" />
                                <span asp-validation-for="CourseName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="HindiName"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="HindiName" class="form-control" />
                                <span asp-validation-for="HindiName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="MinDuration"> </label><span class="tx-danger"> *</span>
                                <input asp-for="MinDuration" class="form-control" type="number" />
                                <span asp-validation-for="MinDuration" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="MaxDuration"> </label><span class="tx-danger"> *</span>
                                <input asp-for="MaxDuration" class="form-control" type="number" />
                                <span asp-validation-for="MaxDuration" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="ProgramId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="ProgramId" asp-items="@(new SelectList(Model.ProgramList,"ProgramId","ProgramName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span asp-validation-for="ProgramId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="CourseTypeId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="CourseTypeId" asp-items="@(new SelectList(Model.CourseTypeList,"CourseTypeId","CourseTypeName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span asp-validation-for="CourseTypeId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="CourseExamType"> </label><span class="tx-danger"> *</span>
                                @Html.DropDownList("CourseExamType", new List<SelectListItem>
                              {
                               new SelectListItem{ Text="--Select Pramotion Type--", Value = "" },
                               new SelectListItem{ Text="Annual", Value = "Annual" },
                               new SelectListItem{ Text="Semester", Value = "Semester" },
                               new SelectListItem{ Text="Mix", Value = "Mix" },
                              },
                              new { @class = "form-control" })
                                <span asp-validation-for="CourseExamType" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="ShortName"> </label><span class="tx-danger"> *</span>
                                <input asp-for="ShortName" class="form-control" />
                                <span asp-validation-for="ShortName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="AffOnline"> </label><span class="tx-danger"> *</span>
                                @Html.DropDownList("AffOnline", new List<SelectListItem>
                              {
                               new SelectListItem{ Text="N", Value = "N" },
                               new SelectListItem{ Text="Y", Value = "Y" },
                              },
                              new { @class = "form-control" })
                                <span asp-validation-for="AffOnline" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="NominalDuration"> </label><span class="tx-danger"> *</span>
                                <input asp-for="NominalDuration" class="form-control" type="number" />
                                <span asp-validation-for="NominalDuration" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="OnCampus"> </label><span class="tx-danger"> *</span>
                                @Html.DropDownList("OnCampus", new List<SelectListItem>
                              {
                               new SelectListItem{ Text="No", Value = "0" },
                               new SelectListItem{ Text="Yes", Value = "1" },
                              },
                              new { @class = "form-control" })
                                <span asp-validation-for="OnCampus" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="OffCampus"> </label><span class="tx-danger"> *</span>
                                @Html.DropDownList("OffCampus", new List<SelectListItem>
                                {
                                 new SelectListItem{ Text="No", Value = "0" },
                                 new SelectListItem{ Text="Yes", Value = "1" },
                                },
                                new { @class = "form-control" })
                                <span asp-validation-for="OffCampus" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="CertificateName"> </label><span class="tx-danger"> *</span>
                                <input asp-for="CertificateName" class="form-control" />
                                <span asp-validation-for="CertificateName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="CertificateHindiName"> </label><span class="tx-danger"> *</span>
                                <input asp-for="CertificateHindiName" class="form-control" />
                                <span asp-validation-for="CertificateHindiName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="DisplayName"> </label><span class="tx-danger"> *</span>
                                <input asp-for="DisplayName" class="form-control" />
                                <span asp-validation-for="DisplayName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="IsNEP"> </label><span class="tx-danger"> *</span>
                                @Html.DropDownList("IsNEP", new List<SelectListItem>
                               {
                                new SelectListItem{ Text="No", Value = "0" },
                                new SelectListItem{ Text="Yes", Value = "1" },
                               },
                               new { @class = "form-control" })
                                <span asp-validation-for="IsNEP" class="parsley-errors-list filled"></span>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="IsActive"> </label><span class="tx-danger"> *</span>
                                @Html.DropDownList("IsActive", new List<SelectListItem>
                                {
                                 new SelectListItem{ Text="No", Value = "0" },
                                 new SelectListItem{ Text="Yes", Value = "1" },
                                },
                                new { @class = "form-control" })
                                <span asp-validation-for="IsActive" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="IsLateralAllowed"> </label><span class="tx-danger"> *</span>
                                @Html.DropDownList("IsLateralAllowed", new List<SelectListItem>
                                {
                                 new SelectListItem{ Text="No", Value = "0" },
                                 new SelectListItem{ Text="Yes", Value = "1" },
                                },
                                new { @class = "form-control" })
                                <span asp-validation-for="IsLateralAllowed" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" asp-route-id="@Model.EncryptedId" class="btn btn-primary" value="Update" />
                            <a asp-action="Index" class="btn btn-success">Back to List</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- Conetnt End-->
