@model CoreLayout.Models.Masters.InstituteModel
@{
    ViewData["Title"] = "Edit";
}

<div class="main-content side-content pt-0">
    <div class="side-app">

        <div class="main-container container-fluid">


            <!-- Page Header -->
            <div class="page-header">
                <div>
                    <h2 class="main-content-title tx-24 mg-b-5">Edit Institute</h2>
                    <hr />
                </div>

            </div>
            <!-- End Page Header -->
            <!-- Conetnt Start-->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card custom-card">
                        <div class="card-body">
                            <div>
                                <h6 class="card-title mb-1">Edit Institute</h6>
                                <hr />
                            </div>

                            <form asp-action="Edit" method="post">
                                <div class="row">
                                    <input type="hidden" asp-for="InstituteID" />
                                    <div asp-validation-summary="ModelOnly" class="text-danger">

                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div>
                                                <label asp-for="InstituteCode" class="mg-b-10"> </label>
                                                <input asp-for="InstituteCode" class="form-control" />
                                                <span asp-validation-for="InstituteCode" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div>
                                                <label asp-for="InstituteName" class="mg-b-10"> </label>
                                                <input asp-for="InstituteName" class="form-control" />
                                                <span asp-validation-for="InstituteName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div>
                                                <label asp-for="InstituteTypeId" class="mg-b-10"> </label>
                                                <select  class="form-control select" asp-for="InstituteTypeId" asp-items="@(new SelectList(Model.InstituteTypeList,"InstituteTypeID","InstituteTypeName"))">
                                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                                </select>
                                                <span asp-validation-for="InstituteTypeId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div>
                                                <label asp-for="InstituteCategoryId" class="mg-b-10"> </label>
                                                <select   class="form-control select" asp-for="InstituteCategoryId" asp-items="@(new SelectList(Model.InstituteCategoryList,"InstituteCategoryID","InstituteCategoryName"))">
                                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                                </select>
                                                <span asp-validation-for="InstituteCategoryId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="IsMinority" class="mg-b-10"> </label>
                                                @Html.DropDownList("IsMinority", new List<SelectListItem>
                                                {
                                                new SelectListItem{ Text="No", Value = "0" },
                                                 new SelectListItem{ Text="Yes", Value = "1" },
                                                },
                                                new { @class = "form-control" })
                                                <span asp-validation-for="IsMinority" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Address" class="mg-b-10"> </label>
                                                <input asp-for="Address" class="form-control" />
                                                <span asp-validation-for="Address" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div>
                                                <label asp-for="StateId" class="mg-b-10"> </label>
                                                <select   class="form-control select" asp-for="StateId" asp-items="@(new SelectList(Model.StateList,"StateId","StateName"))">
                                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                                </select>

                                                <span asp-validation-for="StateId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div>
                                                <label asp-for="DistrictID" class="mg-b-10"> </label>
                                                <select   class="form-control select" asp-for="DistrictID" asp-items="@(new SelectList(Model.DistrictList,"DistrictId","DistrictName"))">
                                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                                </select>

                                                <span asp-validation-for="DistrictID" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div>
                                                <label asp-for="TehsilId" class="mg-b-10"> </label>
                                                <select   class="form-control select" asp-for="TehsilId" asp-items="@(new SelectList(Model.TehsilList,"TehsilId","TehsilName"))">
                                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                                </select>

                                                <span asp-validation-for="TehsilId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Pincode" class="mg-b-10"> </label>
                                                <input asp-for="Pincode" class="form-control" />
                                                <span asp-validation-for="Pincode" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="EmailId" class="mg-b-10"> </label>
                                                <input asp-for="EmailId" class="form-control" />
                                                <span asp-validation-for="EmailId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="MobileNumber" class="mg-b-10"> </label>
                                                <input asp-for="MobileNumber" class="form-control" />
                                                <span asp-validation-for="MobileNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Phone" class="mg-b-10"> </label>
                                                <input asp-for="Phone" class="form-control" />
                                                <span asp-validation-for="Phone" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="Fax" class="mg-b-10"> </label>
                                                <input asp-for="Fax" class="form-control" />
                                                <span asp-validation-for="Fax" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="IsActive" class="mg-b-10"> </label>
                                                @Html.DropDownList("IsActive", new List<SelectListItem>
                                                {
                                                new SelectListItem{ Text="Yes", Value = "1",Selected =true },
                                                new SelectListItem{ Text="No", Value = "0" },
                                                },
                                                new { @class = "form-control" })
                                                <span asp-validation-for="IsActive" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="IsAffiliated" class="mg-b-10"> </label>
                                                @Html.DropDownList("IsMinority", new List<SelectListItem>
                                                {
                                                new SelectListItem{ Text="Yes", Value = "1",Selected =true },
                                                new SelectListItem{ Text="No", Value = "0" },
                                                },
                                                new { @class = "form-control" })
                                                <span asp-validation-for="IsAffiliated" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="WebURL" class="mg-b-10"> </label>
                                                <input asp-for="WebURL" class="form-control" />
                                                <span asp-validation-for="WebURL" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="EstablishmentYear" class="mg-b-10"> </label>
                                                <input asp-for="EstablishmentYear" class="form-control" />
                                                <span asp-validation-for="EstablishmentYear" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="ChairmanAdhaar" class="mg-b-10"> </label>
                                                <input asp-for="ChairmanAdhaar" class="form-control" />
                                                <span asp-validation-for="ChairmanAdhaar" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="ChairmanEmail" class="mg-b-10"> </label>
                                                <input asp-for="ChairmanEmail" class="form-control" />
                                                <span asp-validation-for="ChairmanEmail" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="ChairmanMobileNumber" class="mg-b-10"> </label>
                                                <input asp-for="ChairmanMobileNumber" class="form-control" />
                                                <span asp-validation-for="ChairmanMobileNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="ChairmanName" class="mg-b-10"> </label>
                                                <input asp-for="ChairmanName" class="form-control" />
                                                <span asp-validation-for="ChairmanName" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="RegistrarAdhaar" class="mg-b-10"> </label>
                                                <input asp-for="RegistrarAdhaar" class="form-control" />
                                                <span asp-validation-for="RegistrarAdhaar" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="RegistrarEmail" class="mg-b-10"> </label>
                                                <input asp-for="RegistrarEmail" class="form-control" />
                                                <span asp-validation-for="RegistrarEmail" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="RegistrarMobileNumber" class="mg-b-10"> </label>
                                                <input asp-for="RegistrarMobileNumber" class="form-control" />
                                                <span asp-validation-for="RegistrarMobileNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="RegistrarName" class="mg-b-10"> </label>
                                                <input asp-for="RegistrarName" class="form-control" />
                                                <span asp-validation-for="RegistrarName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="DirectorAdhaar" class="mg-b-10"> </label>
                                                <input asp-for="DirectorAdhaar" class="form-control" />
                                                <span asp-validation-for="DirectorAdhaar" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="DirectorEmail" class="mg-b-10"> </label>
                                                <input asp-for="DirectorEmail" class="form-control" />
                                                <span asp-validation-for="DirectorEmail" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="DirectorMobileNumber" class="mg-b-10"> </label>
                                                <input asp-for="DirectorMobileNumber" class="form-control" />
                                                <span asp-validation-for="DirectorMobileNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="DirectorName" class="mg-b-10"> </label>
                                                <input asp-for="DirectorName" class="form-control" />
                                                <span asp-validation-for="DirectorName" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="form-group">
                                        <input type="submit" asp-route-id="@Model.EncryptedId" class="btn btn-primary" value="Update" />
                                        <a asp-action="Index" class="btn btn-success">Back to List</a>
                                    </div>

                                </div>
                            </form>
                        </div>



                    </div>
                </div>
            </div>
        </div>
        <!-- Conetnt End-->

    </div>
</div>
@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#StateId").on("change", function () {

                $("#DistrictID").empty();

                var ddlsource = "#StateId";
                var url = '@Url.Content("~/")' + "Institute/GetDistrict?StateId="+$(ddlsource).val();

                $.getJSON(url, function (data) {
                var items = '';
                  /*  $("#DistrictId").empty();*/
                    $.each(data, function (i, district) {
                        items += "<option value ='" + district.value + "'>" + district.text + "</option>";
                });
                    $('#DistrictID').html(items);
            });
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#DistrictID").on("change", function () {

                $("#TehsilId").empty();

                var ddlsource = "#DistrictID";
                var url = '@Url.Content("~/")' + "Institute/GetTehsil?DistrictId="+$(ddlsource).val();

                $.getJSON(url, function (data) {
                var items = '';
                   // $("#TehsilId").empty();
                    $.each(data, function (i, tehsil) {
                        items += "<option value ='" + tehsil.value + "'>" + tehsil.text + "</option>";
                });
                    $('#TehsilId').html(items);
            });
            });
        });
    </script>
    @*select 2 dropdown script and css*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--These jQuery libraries for
       chosen need to be included-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css" />

    <!--These jQuery libraries for select2
        need to be included-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" />
    <script>
        $(document).ready(function () {
            //Select2
            $(".select").select2({
                maximumSelectionLength: 2,
            });
            //Chosen
            $(".select1").chosen({
                max_selected_options: 2,
            });
        });
    </script>
}

