@model CoreLayout.Models.PCP.PCPAssignedQPModel
@{
    ViewData["Title"] = "Create";
}

<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Assigned QP to Paper Setter</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">AssignedQP</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </div>

</div>
<!-- End Page Header -->
<!-- Conetnt Start-->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <form asp-action="Create" method="post">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="parsley-errors-list filled">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ExamId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="ExamId" asp-items="@(new SelectList(Model.ExamList,"ExamId","ExamName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span class="parsley-errors-list filled" asp-validation-for="ExamId"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CourseId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="CourseId" asp-items="@(new SelectList(string.Empty,"CourseID","CourseName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span class="parsley-errors-list filled" asp-validation-for="CourseId"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SemYearId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="SemYearId" asp-items="@(new SelectList(string.Empty,"SemYearId","SemYearId"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span class="parsley-errors-list filled" asp-validation-for="SemYearId"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="BranchId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="BranchId" asp-items="@(new SelectList(string.Empty,"BranchId","BranchName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span class="parsley-errors-list filled" asp-validation-for="BranchId"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SessionId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="SessionId" asp-items="@(new SelectList(string.Empty,"SessionId","Session"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span class="parsley-errors-list filled" asp-validation-for="SessionId"></span>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="QPId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="QPId" asp-items="@(new SelectList(string.Empty,"QPId","QPCode"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span asp-validation-for="QPId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="UserId"> </label><span class="tx-danger"> *</span>
                                <select id="ddlUser" class="form-control select" multiple asp-for="UserList" asp-items="@(new SelectList(ViewBag.UserList,"UserId","UserName"))">
                                    @*<option selected="selected" disabled="disabled" value=""></option>*@
                                </select>
                                <span id="uservalidation" asp-validation-for="UserId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <!--<div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="UserId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" multiple asp-for="UserList" asp-items="@(new SelectList(string.Empty,"UserId","UserName"))">-->
                        @*<option selected="selected" disabled="disabled" value="">--Select-- </option>*@
                        <!--</select>
                                <span asp-validation-for="UserId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>-->
                    </div>
                    <div class="form-group">
                        <input id="btnSubtmit" type="submit" class="btn btn-primary" value="Save" />
                        <a asp-action="Index" class="btn btn-success">Back to List</a>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- Conetnt End-->
@section Scripts{

    @*bind course in exam selected*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $("#ExamId").on("change", function () {
                    $("#CourseId").empty();
                    var ddlsource = "#ExamId";
                    var url = '@Url.Content("~/")' + "PCPAssignedQP/GetCourse?ExamId="+$(ddlsource).val();

                    $.getJSON(url, function (data) {
                    var items = '';
                        $("#CourseId").empty();
                        $.each(data, function (i, course) {
                            items += "<option value ='" + course.value + "'>" + course.text + "</option>";
                    });
                        $('#CourseId').html(items);
                });
                });
            });

    </script>

    @*bind semyear*@
    <script type="text/javascript">
            $(document).ready(function () {
                $("#CourseId").on("change", function () {
                    $("#SemYearId").empty();
                    var ddlsource = "#CourseId";
                    var url = '@Url.Content("~/")' + "PCPAssignedQP/GetSemYear?CourseId="+$(ddlsource).val();

                    $.getJSON(url, function (data) {
                    var items = '';
                        $("#SemYearId").empty();
                        $.each(data, function (i, semyear) {
                            items += "<option value ='" + semyear.value + "'>" + semyear.text + "</option>";
                    });
                        $('#SemYearId').html(items);
                });
                });
            });

    </script>
    @*bind branch/subject*@
    <script type="text/javascript">
            $(document).ready(function () {
                $("#CourseId").on("change", function () {
                    $("#BranchId").empty();
                    var ddlsource = "#CourseId";
                    var url = '@Url.Content("~/")' + "PCPAssignedQP/GetBranch?CourseId="+$(ddlsource).val();

                    $.getJSON(url, function (data) {
                    var items = '';
                        $("#BranchId").empty();
                        $.each(data, function (i, branch) {
                            items += "<option value ='" + branch.value + "'>" + branch.text + "</option>";
                    });
                        $('#BranchId').html(items);
                });
                });
            });

    </script>

    @*bind session/syllabus*@
    <script type="text/javascript">
            $(document).ready(function () {
                $("#ExamId").on("change", function () {
                    $("#SessionId").empty();
                    var ddlsource = "#ExamId";
                    var url = '@Url.Content("~/")' + "PCPAssignedQP/GetSyllabus?ExamId="+$(ddlsource).val();

                    $.getJSON(url, function (data) {
                    var items = '';
                        $("#SessionId").empty();
                        $.each(data, function (i, syllabus) {
                            items += "<option value ='" + syllabus.value + "'>" + syllabus.text + "</option>";
                    });
                        $('#SessionId').html(items);
                });
                });
            });

    </script>

    @*bind qp*@
    <script type="text/javascript">
            $(document).ready(function () {
                $("#CourseId").on("change", function () {
                    $("#QPId").empty();
                    var ddlsource = "#CourseId";
                    var url = '@Url.Content("~/")' + "PCPAssignedQP/GetQP?CourseId="+$(ddlsource).val();

                    $.getJSON(url, function (data) {
                    var items = '';
                        $("#QPId").empty();
                        $.each(data, function (i, qp) {
                            items += "<option value ='" + qp.value + "'>" + qp.text + "</option>";
                    });
                        $('#QPId').html(items);
                });
                });
            });

    </script>

    @*bind setter*@
    <!--<script type="text/javascript">
            $(document).ready(function () {
                $("#BranchId").on("change", function () {
                    $("#UserId").empty();
                    var ddlsource = "#BranchId";
                    var url = '@Url.Content("~/")' + "PCPAssignedQP/GetSetterByCourse?BranchId="+$(ddlsource).val();

                    $.getJSON(url, function (data) {
                    var items = '';
                        $("#UserId").empty();
                        $.each(data, function (i, qp) {
                            items += "<option value ='" + qp.value + "'>" + qp.text + "</option>";
                    });
                        $('#UserId').html(items);
                });
                });
            });

    </script>-->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSubtmit").click(function () {
                var ddlUser = $("#ddlUser");
                if (ddlUser.val() == "") {
                    //If the "Please Select" option is selected display error.
                    alert("Please select atleast one paper setter!");
                    return true;
                }
            });
        });
    </script>
}

