@using CoreLayout.Models.PCP
@model IEnumerable<PCPRegistrationModel>
@{
    ViewData["title"] = "Index";
}
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Summary Report</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Summary</a></li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
        </ol>
    </div>
    @*<div class="btn btn-list">
            <a class="btn ripple btn-success btn-sm" asp-action="Create" asp-route-id=@ViewBag.MaxSendPaperId><i class="fe fe-plus"></i> Send Paper</a>
        </div>*@
</div>
<div>

    <label style="font-weight:bold; color:red">Total Registration:- </label>&nbsp;&nbsp;<label style="font-weight:bold; color:black">@ViewBag.RegistrationCount</label>&nbsp;&nbsp;&nbsp;
    <label style="font-weight:bold; color:red">Total Approved:- </label>&nbsp;&nbsp; <label style="font-weight:bold; color:black">@ViewBag.ApprovedCount</label>&nbsp;&nbsp;&nbsp;
    <label style="font-weight:bold; color:red">Total Rejected:- </label>&nbsp;&nbsp;<label style="font-weight:bold; color:black">@ViewBag.RejectCount</label>&nbsp;&nbsp;&nbsp;
    <label style="font-weight:bold; color:red">Total QP Allotted:- </label>&nbsp;&nbsp;<label style="font-weight:bold; color:black">@ViewBag.QPAllotmentCount</label>&nbsp;&nbsp;&nbsp;
    <label style="font-weight:bold; color:red">Total Paper Uploaded:- </label>&nbsp;&nbsp;<label style="font-weight:bold; color:black">@ViewBag.PaperUploadCount</label>&nbsp;&nbsp;&nbsp;
    <label style="font-weight:bold; color:red">Total Send to Agency:- </label>&nbsp;&nbsp; <label style="font-weight:bold; color:black">@ViewBag.SendToAgencyCount</label>&nbsp;&nbsp;&nbsp;

</div>
<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div class="table-responsive-sm">
                    <table id="exportexample" class="table table-sm table-bordered key-buttons text-wrap w-100">
                        <thead>
                            <tr>
                                <th>S.No</th>

                                <th>
                                    @Html.DisplayNameFor(c => c.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.QPCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.QPName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.CourseID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.BranchId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.Session)<br />
                                    @Html.DisplayNameFor(c => c.SemYearId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.PaperPath)
                                </th>
                                <th>
                                    Sent to Agency ?
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                int sno = 0;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{ sno++; }
                                        @sno
                                    </td>

                                    <td>@item.UserName</td>
                                    @if (@item.QPCode == null)
                                    {
                                        <td style="font-weight:bold; color:red">QP Not Assigned</td>
                                        <td></td>
                                    }
                                    else
                                    {
                                        <td>@item.QPCode</td>
                                        <td>@item.QPName</td>
                                    }
                                    <td>@item.CourseName</td>
                                    <td>@item.BranchName</td>
                                    <td>@item.Session<br />@item.SemYearId</td>
                                    
                                    @if (@item.PaperPath == null)
                                    {
                                        <td style="font-weight:bold; color:red">Paper Not Uploaded</td>

                                    }
                                    else
                                    {
                                        <td>
                                            <img src="~/Images/pdfimage.png" height=20 width=30 /><br />
                                            @*<a asp-action="Download" asp-route-id="@item.EncryptedId" target="_blank">Download</a>*@
                                        </td>
                                    }
                                    <td>
                                        @if (ViewBag.list != null)
                                        {

                                            foreach (var item1 in ViewBag.list)
                                            {

                                                foreach (var item2 in item1)
                                                {
                                                    @if (item.PaperId == item2.PaperId && item.QPId == item2.QPId)
                                                    {
                                                        @item2.AgencyName <br />
                                                    }

                                                }
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->
@section Scripts{

    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/table-data.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatable/responsive.bootstrap5.min.js"></script>
}
