@model CoreLayout.Models.Circular.CircularModel
@{
    ViewData["Title"] = "Create";
}
<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Create Circular</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Circular</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </div>

</div>
<!-- End Page Header -->
<!-- Conetnt Start-->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <form asp-action="Create" method="post" enctype="multipart/form-data" id="form1">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="parsley-errors-list filled">

                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label asp-for="DistrictId"> </label><span class="tx-danger"> *</span>
                                <select id="distId" multiple="multiple" class="group-filter" asp-for="DistrictId" asp-items="@(new SelectList(Model.DistrictList,"DistrictId","DistrictName"))">
                                </select>
                                <span asp-validation-for="DistrictId" class="parsley-errors-list filled"></span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CourseID"> </label><span class="tx-danger"> *</span>
                                <select id="courseid" multiple="multiple" class="group-filter" asp-for="CourseID" asp-items="@(new SelectList(Model.CourseList,"CourseID","CourseName"))">
                                </select>
                                @*<span asp-validation-for="CourseID" class="parsley-errors-list filled"></span>*@
                            </div>
                        </div>
                        <div class="col-md-12" style="text-align:right">
                            <div class="form-group">
                                <button class="btn btn-warning" id="search">
                                    <span class="glyphicon
                glyphicon-search"></span>Search
                                </button>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <hr style="border-width:2px; border:solid" />
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DisplayInCollage"> </label><span class="tx-danger"> *</span>
                                @Html.DropDownList("DisplayInCollage", new List<SelectListItem>
                                {
                                new SelectListItem{ Text="Yes", Value = "1" },
                                new SelectListItem{ Text="No", Value = "0", Selected=true },
                                },
                                new { @class = "form-control" })
                                <span asp-validation-for="DisplayInCollage" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="InstituteID"> </label><span class="tx-danger"> *</span>
                                <select id="InstituteIds" style="width:500px" class="js-select2" multiple="multiple" asp-for="InstituteList" asp-items="@(new SelectList(string.Empty, "InstituteID", "InstituteName"))" disabled>
                                </select>
                                <span class="parsley-errors-list filled" asp-validation-for="InstituteID"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Title"> </label><span class="tx-danger"> *</span>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="DisplayInWebSite"> </label><span class="tx-danger"> *</span>
                                @Html.DropDownList("DisplayInWebSite", new List<SelectListItem>
                                {
                                new SelectListItem{ Text="Yes", Value = "1" },
                                new SelectListItem{ Text="No", Value = "0", Selected=true },
                                },
                                new { @class = "form-control" })
                                <span asp-validation-for="DisplayInWebSite" class="parsley-errors-list filled"></span>
                            </div>
                        </div>

                        @*<div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="OriginalFileName"> </label><span class="tx-danger"> *</span>
                                            <input asp-for="OriginalFileName" class="form-control" />
                                            <span asp-validation-for="OriginalFileName" class="parsley-errors-list filled"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="FileName"> </label><span class="tx-danger"> *</span>
                                            <input asp-for="FileName" class="form-control" />
                                            <span asp-validation-for="FileName" class="parsley-errors-list filled"></span>
                                        </div>
                            </div> *@
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="UploadDate"> </label><span class="tx-danger"> *</span>
                                <input asp-for="UploadDate" class="form-control" type="date" value="" />
                                <span asp-validation-for="UploadDate" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="FUCircular"> </label><span class="tx-danger"> *</span>
                                <input asp-for="FUCircular" class="form-control" type="file" />
                                <span asp-validation-for="FUCircular" class="parsley-errors-list filled"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <input id="submit" type="submit" class="btn btn-primary" value="Save" />
                            <a asp-action="Index" class="btn btn-success">Back to List</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- Conetnt End-->

@section Scripts{
    @*bind Institute*@
    @*<script src="~/lib/jquery/dist/jquery.js"></script>*@
    <script>
        $(document).ready(function () {
            $('#search').click(function () {
                var arr = []
                var arr1 = []
                var selected = $("#distId :selected").map((_, e) => arr.push(e.value)).get();
                var selected1 = $("#courseid :selected").map((_, e) => arr1.push(e.value)).get();
                if (arr.length > 0) {

                    var $exampleMulti = $(".js-select2").select2();
                    $exampleMulti.val(null).trigger("change");

                    var url = '@Url.Content("~/")' + "Circular/GetInstitute?districtId=" + arr + "&courseid=" + arr1;
                    $.getJSON(url, function (data) {
                        var items = '';
                        $("#InstituteIds").empty();
                        if (data.length > 0) {
                            $.each(data, function (i, institute) {

                                items += "<option value ='" + institute.value + "'>" + institute.text + "</option>";
                            });
                            $('#InstituteIds').html(items);
                            console.log(items);
                        }

                    });
                } else {
                    alert('Please select district or course or both!')
                }

            });
        });
    </script>

    <script>
        $(".js-select2").select2({
            closeOnSelect: false,
            placeholder: "Select an option",
            allowHtml: true,
            allowClear: true,
            tags: true // создает новые опции на лету
        });

    </script>

    <style>
        /* body {
            font-family: 'Ubuntu', sans-serif;
            font-weight: normal;
            font-size:smaller
        }*/

        .select2-container {
            min-width: 500px;
        }

        .select2-results__option {
            padding-right: 20px;
        }

            .select2-results__option:before {
                content: "";
                display: inline-block;
                position: relative;
                height: 20px;
                width: 20px;
                border: 2px solid #e9e9e9;
                border-radius: 4px;
                background-color: #fff;
                margin-right: 20px;
                vertical-align: middle;
            }

            .select2-results__option[aria-selected=true]:before {
                font-family: fontAwesome;
                content: "\f00c";
                color: #fff;
                background-color: #f77750;
                border: 0;
                display: inline-block;
                padding-left: 3px;
            }

        .select2-container--default .select2-results__option[aria-selected=true] {
            background-color: #fff;
        }

        .select2-container--default .select2-results__option--highlighted[aria-selected] {
            background-color: #eaeaeb;
            color: #272727;
        }

        .select2-container--default .select2-selection--multiple {
            margin-bottom: 10px;
        }

        .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
            border-radius: 4px;
        }

        .select2-container--default.select2-container--focus .select2-selection--multiple {
            border-color: #f77750;
            /*border-width: 2px;*/
        }

        .select2-container--default .select2-selection--multiple {
            /* border-width: 2px;*/
        }

        .select2-container--open .select2-dropdown--below {
            border-radius: 6px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }

        .select2-selection .select2-selection--multiple:after {
            content: 'hhghgh';
        }

        select with icons badges single
        .select-icon .select2-selection__placeholder .badge {
            display: none;
        }

        .select-icon .placeholder {
            display: none;
        }

        .select-icon .select2-results__option:before,
        .select-icon .select2-results__option[aria-selected=true]:before {
            display: none !important;
            content: "" !important;
        }

        .select-icon .select2-search--dropdown {
            display: none;
        }
    </style>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@

    @*reset institute on display in collage*@
    <script type="text/javascript">
        document.getElementById('DisplayInCollage').addEventListener('change', function () {
            var $exampleMulti = $(".js-select2").select2();
            if (this.value == 1) {
                $('#InstituteIds').prop('disabled', false)
            }
            else {
                $exampleMulti.val(null).trigger("change");
                $('#InstituteIds').prop('disabled', true)
            }
        });
    </script>
    @*validation if display in collage is selected but institute is not selected*@
    <script type="text/javascript">
        $('#submit').click(function () {
            var DisplayInCollage = $('#DisplayInCollage').val();
            var DisplayInWebSite = $('#DisplayInWebSite').val();
            if (DisplayInCollage == 0 && DisplayInWebSite == 0) {
                alert('Circular will be Display in Collage or Website or Both!')
                return false;
            }
        });
    </script>

    @*select 2 validation*@
    <script type="text/javascript">
        $('#submit').click(function () {
            var DisplayInCollage = $('#DisplayInCollage').val();
            var institutueValue = $("#InstituteIds").val();
            if (DisplayInCollage == 1 && institutueValue == "") {
                alert('Please select institute list!')
                return false;
            }
        });
    </script>
}
