@using CoreLayout.Models.Circular
@model IEnumerable<CircularModel>
@{
    ViewData["title"] = "Index";
}

<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Circular List</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Circular</a></li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
        </ol>
    </div>
    <div class="btn btn-list">
        <a class="btn ripple btn-success btn-sm" asp-action="Create" asp-route-id=@ViewBag.MaxCircularId><i class="fe fe-plus"></i> New Circular</a>
    </div>
</div>

<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div class="table-responsive-sm">

                    <table id="exportexample" class="table table-sm table-bordered key-buttons text-wrap w-100">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>
                                    @Html.DisplayNameFor(c => c.InstituteID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.DisplayInWebSite)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.DisplayInCollage)
                                </th>
                                @*<th>
                                        @Html.DisplayNameFor(c => c.OriginalFileName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(c => c.FileName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(c => c.Related)
                                    </th>*@
                                <th>
                                    @Html.DisplayNameFor(c => c.UploadDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.CircularPath)
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                int sno = 0;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{ sno++; }
                                        @sno
                                    </td>
                                    <td>
                                        @*<a asp-action="#" style="color:blue" asp-route-id="@item.EncryptedId" target="_blank">Institute</a>*@
                                        <a href="javascript:void(0);" class="anchorDetail" data-id="@item.EncryptedId">Details</a>
                                    </td>
                                    <td>@item.Title</td>
                                    <td>@item.DisplayInWebSite</td>
                                    <td>@item.DisplayInCollage</td>
                                    @*<td>@item.OriginalFileName</td>
                                            <td>@item.FileName</td>
                                        <td>@item.Related</td>*@
                                    <td> @Convert.ToDateTime(item.UploadDate).ToString("dd/MM/yyyy")   </td>
                                    <td> <a asp-action="ViewFile" style="color:blue" asp-route-id="@item.EncryptedId" target="_blank">View</a></td>
                                    <td>
                                        <div class="table-actions text-center">
                                            <a asp-action="Edit" id="edit" asp-route-id=@item.EncryptedId data-bs-toggle="tooltip" title="" data-bs-placement="top" data-bs-original-title="Edit"><i class="fe fe-edit fs-16 mr-30 text-success"></i></a>
                                            <a asp-action="Details" id="details" asp-route-id=@item.EncryptedId data-bs-toggle="tooltip" title="" data-bs-placement="top" data-bs-original-title="View"><i class="fe fe-eye fs-16 mr-30 text-warning"></i></a>
                                            <a asp-action="Delete" id="delete" asp-route-id=@item.EncryptedId data-bs-toggle="tooltip" title="" data-bs-placement="top" data-bs-original-title="Delete" onclick="return confirm('Are you sure you want to delete this?')"><i class="fe fe-trash fs-16 text-danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->
<div id='myModal' class='modal fade bs-example-modal-lg' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@section Scripts{

    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/table-data.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatable/responsive.bootstrap5.min.js"></script>

    @*popup*@
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        var TeamDetailPostBackURL = '/Circular/instituteList';
        $(function () {
            $(".anchorDetail").click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');
                $.ajax({
                    type: "GET",
                    url: TeamDetailPostBackURL,
                    contentType: "application/json; charset=utf-8",
                    data: { "Id": id },
                    datatype: "json",
                    success: function (data) {
                        $('#myModalContent').html(data);
                        $('#myModal').modal('show');

                    },
                    error: function () {
                        alert("Dynamic content load failed.");
                    }
                });
            });
        });

    </script>
}