@model CoreLayout.Models.Exam.StudentModel
@{
    ViewData["Title"] = "Details";
}
<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Student Details</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">StudentDetails</a></li>
            <li class="breadcrumb-item active" aria-current="page">Details</li>
        </ol>
    </div>
</div>
<!-- End Page Header -->
<!-- Conetnt Start-->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                @*<div>
                        <h6 class="card-title mb-1">State Details</h6>
                        <hr />
                    </div>*@
                <form asp-action="Details" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="StudentID" />
                    <div asp-validation-summary="ModelOnly" class="parsley-errors-list filled">
                    </div>
                    <div class="row">
                        <div style="background-color:teal;">
                            <h4 style="color:white; font-size:15px">Student Information</h4>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="RollNo"> </label><span class="tx-danger"> *</span>
                                <input asp-for="RollNo" class="form-control" readonly="readonly" />
                                <span asp-validation-for="RollNo" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="EnrolmentNo"> </label><span class="tx-danger"> *</span>
                                <input asp-for="EnrolmentNo" class="form-control" readonly="readonly" />
                                <span asp-validation-for="EnrolmentNo" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="EntranceApplicationNo"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="EntranceApplicationNo" class="form-control" readonly="readonly" />
                                <span asp-validation-for="EntranceApplicationNo" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="FirstName"> </label><span class="tx-danger"> *</span>
                                <input asp-for="FirstName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="FirstName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="MiddleName"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="MiddleName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="MiddleName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="LastName"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="LastName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="LastName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="HindiName"> </label><span class="tx-danger"> *</span>
                                <input id="HindiName" asp-for="HindiName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="HindiName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="DOB"> </label><span class="tx-danger"> *</span>
                                <input asp-for="DOB" class="form-control" type="date" readonly="readonly" />
                                <span asp-validation-for="DOB" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Gender"> </label><span class="tx-danger"> *</span>
                                @Html.DropDownListFor(m => m.Gender, (IEnumerable<SelectListItem>)Model.GenderList, new { @class = "form-control", @disabled = "disabled" })
                                <span asp-validation-for="Gender" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Mobile"> </label><span class="tx-danger"> *</span>
                                <input asp-for="Mobile" class="form-control" readonly="readonly" />
                                <span asp-validation-for="Mobile" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="EmailId"> </label><span class="tx-danger"> *</span>
                                <input asp-for="EmailId" class="form-control" readonly="readonly" />
                                <span asp-validation-for="EmailId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="background-color:teal;">
                            <h4 style="color: white; font-size: 15px">Parent Information</h4>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="FatherName"> </label><span class="tx-danger"> *</span>
                                <input asp-for="FatherName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="FatherName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="MotherName"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="MotherName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="MotherName" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="ParentMobileNo"> </label><span class="tx-danger"> *</span>
                                <input asp-for="ParentMobileNo" class="form-control" readonly="readonly" />
                                <span asp-validation-for="ParentMobileNo" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="background-color:teal;">
                            <h4 style="color: white; font-size: 15px">Corrrespondence Address</h4>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="CAddress"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="CAddress" class="form-control" readonly="readonly" />
                                <span asp-validation-for="CAddress" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="CStateId"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="CStateName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="CStateId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="CDistrictId"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="CDistrictName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="CDistrictId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="CTehsilId"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="CTehsilName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="CTehsilId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="CPinCode"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="CPinCode" class="form-control" readonly="readonly" />
                                <span asp-validation-for="CPinCode" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="background-color:teal;">
                            <h4 style="color: white; font-size: 15px ">Permanent Address</h4>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="PAddress"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="PAddress" class="form-control" readonly="readonly" />
                                <span asp-validation-for="PAddress" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="PStateId"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="PStateName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="PStateId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="PDistrictId"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="PDistrictName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="PDistrictId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="PTehsilId"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="PTehsilName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="PTehsilId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="PPinCode"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="PPinCode" class="form-control" readonly="readonly" />
                                <span asp-validation-for="PPinCode" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="background-color:teal;">
                            <h4 style="color: white; font-size: 15px">Others Information</h4>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Category"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="Category" class="form-control" readonly="readonly" />
                                <span asp-validation-for="Category" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="ReservationCategory"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="ReservationCategory" class="form-control" readonly="readonly" />
                                <span asp-validation-for="ReservationCategory" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="Nationality"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="Nationality" class="form-control" readonly="readonly" />
                                <span asp-validation-for="Nationality" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="ReligionID"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="ReligionName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="ReligionID" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="BloodGroup"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="BloodGroup" class="form-control" readonly="readonly" />
                                <span asp-validation-for="BloodGroup" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="SeatType"> </label>@*<span class="tx-danger"> *</span>*@
                                @Html.DropDownListFor(m => m.SeatType, (IEnumerable<SelectListItem>)Model.SeatTypeList, new { @class = "form-control", @disabled = "disabled" })
                                <span asp-validation-for="SeatType" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="AdmissionSessionId"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="AdmissionSessionName" class="form-control" readonly="readonly" />
                                <span asp-validation-for="AdmissionSessionId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="IsVaccinated"> </label>@*<span class="tx-danger"> *</span>*@<br />
                                <input asp-for="IsVaccinated" id="IsVaccinated" name="IsVaccinated" type="checkbox" readonly="readonly" />
                                <span asp-validation-for="IsVaccinated" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="IsEWS"> </label>@*<span class="tx-danger"> *</span>*@<br />
                                <input asp-for="IsEWS" id="IsEWS" name="IsEWS" type="checkbox" readonly="readonly" />
                                <span asp-validation-for="IsEWS" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="IsMinority"> </label>@*<span class="tx-danger"> *</span>*@<br />
                                <input asp-for="IsMinority" id="IsMinority" name="IsMinority" type="checkbox" readonly="readonly" />
                                <span asp-validation-for="IsMinority" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="IsLiteral"> </label>@*<span class="tx-danger"> *</span>*@<br />
                                <input asp-for="IsLiteral" id="IsLiteral" name="IsLiteral" type="checkbox" readonly="readonly" />
                                <span asp-validation-for="IsLiteral" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="IsActive"> </label><span class="tx-danger"> *</span><br />
                                <input asp-for="IsActive" id="IsActive" name="IsActive" type="checkbox" readonly="readonly" checked />
                                <span asp-validation-for="IsActive" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="IsDisability"> </label>@*<span class="tx-danger"> *</span>*@<br />
                                <input asp-for="IsDisability" id="IsDisability" name="IsDisability" type="checkbox" readonly="readonly" />
                                <span asp-validation-for="IsDisability" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" id="divDisabilityType">
                                <label asp-for="DisabilityType"> </label>@*<span class="tx-danger"> *</span>*@
                                @Html.DropDownListFor(m => m.DisabilityType, (IEnumerable<SelectListItem>)Model.DisabilityTypeList, new { @class = "form-control", @disabled = "disabled" })
                                <span asp-validation-for="DisabilityType" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div style="background-color:teal;">
                            <h4 style="color: white; font-size: 15px">Upload Documents</h4>
                        </div>

                        <!--<div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="FUPhotograph"> </label>-->
                        @*<span class="tx-danger"> *</span>*@
                        <!--<input asp-for="FUPhotograph" class="form-control" />
                                <span asp-validation-for="FUPhotograph" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="FUSignature"> </label>-->
                        @*<span class="tx-danger"> *</span>*@
                        <!--<input asp-for="FUSignature" class="form-control" />
                                <span asp-validation-for="FUSignature" class="parsley-errors-list filled"></span>
                            </div>
                        </div>-->
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="PhotographPath"> </label><span class="tx-danger"> *</span>
                                <img src="~/StudentPhoto/@Model.PhotographPath" alt="Image" height="70" width="70" />
                                <span asp-validation-for="PhotographPath" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="SignaturePath"> </label><span class="tx-danger"> *</span>
                                <img src="~/StudentSignature/@Model.SignaturePath" alt="Image" height="70" width="70" />
                                <span asp-validation-for="SignaturePath" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="IdProofType"> </label>@*<span class="tx-danger"> *</span>*@
                                @Html.DropDownListFor(m => m.IdProofType, (IEnumerable<SelectListItem>)Model.IdProofTypeList, new { @class = "form-control", @disabled = "disabled" })
                                <span asp-validation-for="IdProofType" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" id="divIdProofNo">
                                <label asp-for="IdProofNo"> </label>@*<span class="tx-danger"> *</span>*@
                                <input asp-for="IdProofNo" class="form-control" readonly="readonly" />
                                <span asp-validation-for="IdProofNo" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <a asp-action="Edit" asp-route-id="@Model.EncryptedId" class="btn btn-primary">Edit</a>
                            <a asp-action="Index" class="btn btn-success">Back to List</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- Conetnt End-->
@section Scripts{
    @*DisabilityType hide/show on page load*@
    <script type="text/javascript">
        $(document).ready(function () {
            if ($("#IsDisability").is(':checked')) {
                document.getElementById('divDisabilityType').style.display = 'block';
            }
            else {
                document.getElementById('divDisabilityType').style.display = 'none';
            }
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var value = $("#IdProofType").val();
            if (value != 0) {
                document.getElementById('divDisabilityType').style.display = 'block';
            }
            else {
                document.getElementById('divDisabilityType').style.display = 'none';
            }
        });
    </script>
}
