@model CoreLayout.Models.PCP.PCPSendPaperModel
@{
    ViewData["Title"] = "Create";
}

<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Send Paper To Printing Agency</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">SendPaper</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </div>

</div>
<!-- End Page Header -->
<!-- Conetnt Start-->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                @*<div>
                        <h6 class="card-title mb-1">Create State</h6>
                        <hr>
                    </div>*@
                <form asp-action="Create" method="post" id="form1">
                    <input type="hidden" asp-for="paperids" value="" id="hdnpaperid" />
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="parsley-errors-list filled">

                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="ExamId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="ExamId" asp-items="@(new SelectList(Model.ExamList,"ExamId","ExamName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span class="parsley-errors-list filled" asp-validation-for="ExamId"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="CourseId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="CourseId" asp-items="@(new SelectList(string.Empty,"CourseID","CourseName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span class="parsley-errors-list filled" asp-validation-for="CourseId"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="SemYearId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="SemYearId" asp-items="@(new SelectList(string.Empty,"SemYearId","SemYearId"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span class="parsley-errors-list filled" asp-validation-for="SemYearId"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="BranchId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="BranchId" asp-items="@(new SelectList(string.Empty,"BranchId","BranchName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span class="parsley-errors-list filled" asp-validation-for="BranchId"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="SessionId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="SessionId" asp-items="@(new SelectList(string.Empty,"SessionId","Session"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span class="parsley-errors-list filled" asp-validation-for="SessionId"></span>
                            </div>
                        </div>


                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="QPId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="QPId" asp-items="@(new SelectList(string.Empty,"QPId","QPName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span asp-validation-for="QPId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="PaperSetterId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="PaperSetterId" asp-items="@(new SelectList(Model.PaperSetterList,"PaperSetterId","PaperSetterName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span asp-validation-for="PaperSetterId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="UserId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="UserId" asp-items="@(new SelectList(Model.AgencyList,"UserID","UserName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span asp-validation-for="UserId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="PaperOpenTime"> </label><span class="tx-danger"> *</span>
                                <input asp-for="PaperOpenTime" class="form-control" value="" />
                                <span asp-validation-for="PaperOpenTime" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="StaticIPAddress"> </label><span class="tx-danger"> *</span>
                                <input asp-for="StaticIPAddress" class="form-control" />
                                <span asp-validation-for="StaticIPAddress" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card custom-card overflow-hidden">
                                <div>
                                    <div class="table-responsive-sm">
                                        <label> Paper List </label><span class="tx-danger"> *</span>
                                        <table id="exportexample" class="table table-sm table-bordered key-buttons text-wrap w-100">
                                            <thead>
                                                <tr>
                                                    <th>@*<input name="select_all" id="select_all" value="1" type="checkbox">*@</th>
                                                    <th>S.No</th>
                                                    <th>
                                                        @Html.DisplayNameFor(c => c.PaperSetterId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(c => c.CourseId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(c => c.BranchName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(c => c.Session)
                                                        
                                                    </th>
                                                    <th>@Html.DisplayNameFor(c => c.SemYearId)</th>
                                                    <th>
                                                        @Html.DisplayNameFor(c => c.QPId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(c => c.QPCode)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(c => c.CreatedDate)
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="output"></tbody>

                                        </table>
                                        @*<span asp-validation-for="paperids" class="parsley-errors-list filled"></span>*@
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End Row -->
                    <div class="form-group">
                        <input id="submit" type="submit" class="btn btn-primary" value="Save" onclick="return confirm('After submit you can not any changes! submit?')" />
                        <a asp-action="Index" class="btn btn-success">Back to List</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- Conetnt End-->
@section Scripts{
    <script>
      function  getDatetime (dt) {
            let fd = new Date(dt);
            let mn = fd.getMonth() + 1;
            let dy = fd.getDate();
            let date = fd.getFullYear() + '-' + format(mn) + '-' + format(dy);
            let time = format(fd.getHours()) + ':' + format(fd.getMinutes()) + ':' + format(fd.getSeconds());
            return date + ' ' + time;
        }
       function  format (num) {
            let val = num.toString();
            val = val.length == 2 ? val : '0' + val;
            return val;

        }
    </script>
    @*bing grid on filter*@
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var examId = $('#ExamId').find('option:selected').val();
            var courseId = $('#CourseId').find('option:selected').val();
            var branchId = $('#BranchId').find('option:selected').val();
            var sessionId = $('#SessionId').find('option:selected').val();
            var paperSetterId = $('#PaperSetterId').find('option:selected').val();
            var qPId = $('#QPId').find('option:selected').val();
            var semYearId = $('#SemYearId').find('option:selected').val();
            $("#ExamId").on("change", function () {
                $('#global-loader').show();
                 examId = "#ExamId";
                var url = '@Url.Content("~/")' + "PCPSendPaper/GetPaper?ExamId=" + $(examId).val()
                    + "&CourseId=" + $(courseId).val()
                    + "&BranchId=" + $(branchId).val()
                    + "&SessionId=" + $(sessionId).val()
                    + "&QPId=" + $(qPId).val()
                    + "&SemYearId=" + $(semYearId).val()
                    + "&PaperSetterId=" + $(paperSetterId).val();
                $.getJSON(url, function (data) {
                    let output = data.map((i, index) => "<tr><td><input type='checkbox' id='chkid' value='" + i.paperId + "' /> </td><td>" + (index + 1) + "</td> <td>" + i.userName + "</td><td>" + i.courseName + "</td><td>" + i.branchName + "</td><td>" + i.session + "</td><td>" + i.semYearId + "</td> <td>" + i.qpName + "</td><td>" + i.qpCode + "</td><td>" + (getDatetime(i.createdDate)) + "</td></tr>");
                        $("#output").html(output);      
                });
                $('#global-loader').hide();
            });

            $("#CourseId").on("change", function () {
                $('#global-loader').show();
                courseId = "#CourseId";
                var url = '@Url.Content("~/")' + "PCPSendPaper/GetPaper?CourseId=" + $(courseId).val()
                    + "&ExamId=" + $(examId).val()
                    + "&BranchId=" + $(branchId).val()
                    + "&SessionId=" + $(sessionId).val()
                    + "&QPId=" + $(qPId).val()
                    + "&SemYearId=" + $(semYearId).val()
                    + "&PaperSetterId=" + $(paperSetterId).val();
                $.getJSON(url, function (data) {
                    let output = data.map((i, index) => "<tr><td><input type='checkbox' id='chkid' value='" + i.paperId + "' /> </td><td>" + (index + 1) + "</td> <td>" + i.userName + "</td><td>" + i.courseName + "</td><td>" + i.branchName + "</td><td>" + i.session + "</td><td>" + i.semYearId + "</td> <td>" + i.qpName + "</td><td>" + i.qpCode + "</td><td>" + i.createdDate + "</td></tr>");
                    $("#output").html(output);
                    $('#global-loader').hide();
                });
            });

            $("#BranchId").on("change", function () {
                $('#global-loader').show();
                branchId = "#BranchId";
                var url = '@Url.Content("~/")' + "PCPSendPaper/GetPaper?BranchId=" + $(branchId).val()
                    + "&ExamId=" + $(examId).val()
                    + "&CourseId=" + $(courseId).val()
                    + "&SessionId=" + $(sessionId).val()
                    + "&QPId=" + $(qPId).val()
                    + "&SemYearId=" + $(semYearId).val()
                    + "&PaperSetterId=" + $(paperSetterId).val();
                $.getJSON(url, function (data) {
                    let output = data.map((i, index) => "<tr><td><input type='checkbox' id='chkid' value='" + i.paperId + "' /> </td><td>" + (index + 1) + "</td> <td>" + i.userName + "</td><td>" + i.courseName + "</td><td>" + i.branchName + "</td><td>" + i.session + "</td><td>" + i.semYearId + "</td> <td>" + i.qpName + "</td><td>" + i.qpCode + "</td><td>" + i.createdDate + "</td></tr>");
                    $("#output").html(output);
                    $('#global-loader').hide();
                });
            });

            $("#SessionId").on("change", function () {
                $('#global-loader').show();
                sessionId = "#SessionId";
                var url = '@Url.Content("~/")' + "PCPSendPaper/GetPaper?SessionId=" + $(sessionId).val()
                    + "&ExamId=" + $(examId).val()
                    + "&CourseId=" + $(courseId).val()
                    + "&BranchId=" + $(branchId).val()
                    + "&QPId=" + $(qPId).val()
                    + "&SemYearId=" + $(semYearId).val()
                    + "&PaperSetterId=" + $(paperSetterId).val();
                $.getJSON(url, function (data) {
                    let output = data.map((i, index) => "<tr><td><input type='checkbox' id='chkid' value='" + i.paperId + "' /> </td><td>" + (index + 1) + "</td> <td>" + i.userName + "</td><td>" + i.courseName + "</td><td>" + i.branchName + "</td><td>" + i.session + "</td><td>" + i.semYearId + "</td> <td>" + i.qpName + "</td><td>" + i.qpCode + "</td><td>" + i.createdDate + "</td></tr>");
                    $("#output").html(output);
                    $('#global-loader').hide();
                });
            });

            $("#PaperSetterId").on("change", function () {
                $('#global-loader').show();
                 paperSetterId = "#PaperSetterId";
                var url = '@Url.Content("~/")' + "PCPSendPaper/GetPaper?PaperSetterId=" + $(paperSetterId).val()
                    + "&CourseId=" + $(courseId).val()
                    + "&BranchId=" + $(branchId).val()
                    + "&SessionId=" + $(sessionId).val()
                    + "&QPId=" + $(qPId).val()
                    + "&SemYearId=" + $(semYearId).val()
                    + "&ExamId=" + $(examId).val();
                $.getJSON(url, function (data) {
                    let output = data.map((i, index) => "<tr><td><input type='checkbox' id='chkid' value='" + i.paperId + "' /> </td><td>" + (index + 1) + "</td> <td>" + i.userName + "</td><td>" + i.courseName + "</td><td>" + i.branchName + "</td><td>" + i.session + "</td><td>" + i.semYearId + "</td> <td>" + i.qpName + "</td><td>" + i.qpCode + "</td><td>" + i.createdDate + "</td></tr>");
                    $("#output").html(output);
                    $('#global-loader').hide();
                });
            });

            $("#QPId").on("change", function () {
                $('#global-loader').show();
                qPId = "#QPId";
                var url = '@Url.Content("~/")' + "PCPSendPaper/GetPaper?QPId=" + $(qPId).val()
                    + "&CourseId=" + $(courseId).val()
                    + "&BranchId=" + $(branchId).val()
                    + "&SessionId=" + $(sessionId).val()
                    + "&ExamId=" + $(examId).val()
                    + "&SemYearId=" + $(semYearId).val()
                    + "&PaperSetterId=" + $(paperSetterId).val();
                $.getJSON(url, function (data) {
                    let output = data.map((i, index) => "<tr><td><input type='checkbox' id='chkid' value='" + i.paperId + "' /> </td><td>" + (index + 1) + "</td> <td>" + i.userName + "</td><td>" + i.courseName + "</td><td>" + i.branchName + "</td><td>" + i.session + "</td><td>" + i.semYearId + "</td> <td>" + i.qpName + "</td><td>" + i.qpCode + "</td><td>" + i.createdDate + "</td></tr>");
                    $("#output").html(output);
                    $('#global-loader').hide();
                });
            });

            $("#SemYearId").on("change", function () {
                $('#global-loader').show();
                semYearId = "#SemYearId";
                var url = '@Url.Content("~/")' + "PCPSendPaper/GetPaper?SemYearId=" + $(semYearId).val()
                    + "&CourseId=" + $(courseId).val()
                    + "&BranchId=" + $(branchId).val()
                    + "&SessionId=" + $(sessionId).val()
                    + "&QPId=" + $(qPId).val()
                    + "&ExamId=" + $(examId).val()
                    + "&PaperSetterId=" + $(paperSetterId).val();
                $.getJSON(url, function (data) {
                    let output = data.map((i, index) => "<tr><td><input type='checkbox' id='chkid' value='" + i.paperId + "' /> </td><td>" + (index + 1) + "</td> <td>" + i.userName + "</td><td>" + i.courseName + "</td><td>" + i.branchName + "</td><td>" + i.session + "</td><td>" + i.semYearId + "</td> <td>" + i.qpName + "</td><td>" + i.qpCode + "</td><td>" + i.createdDate + "</td></tr>");
                    $("#output").html(output);
                    $('#global-loader').hide();
                });
            });
        });
    </script>




    <script type="text/javascript">
        i = 0;
        $('#submit').click(function () {
            var userid = [];
            $('#chkid:checked').each(function () {
                userid[i++] = $(this).val();
            });
            if (userid.length > 0) {
                document.getElementById('hdnpaperid').value = userid;
                var form = document.getElementById("form1");
                form.submit();
            }
            else {
                alert("Select atleast one checkbox");
            }
        });

    </script>



    @*bind course in exam selected*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $("#ExamId").on("change", function () {
                    $("#CourseId").empty();
                    var ddlsource = "#ExamId";
                    var url = '@Url.Content("~/")' + "PCPSendPaper/GetCourse?ExamId="+$(ddlsource).val();

                    $.getJSON(url, function (data) {
                    var items = '';
                        $("#CourseId").empty();
                        $.each(data, function (i, course) {
                            items += "<option value ='" + course.value + "'>" + course.text + "</option>";
                    });
                        $('#CourseId').html(items);
                });
                });
            });

    </script>

    @*bind semyear*@
    <script type="text/javascript">
            $(document).ready(function () {
                $("#CourseId").on("change", function () {
                    $("#SemYearId").empty();
                    var ddlsource = "#CourseId";
                    var url = '@Url.Content("~/")' + "PCPSendPaper/GetSemYear?CourseId="+$(ddlsource).val();

                    $.getJSON(url, function (data) {
                    var items = '';
                        $("#SemYearId").empty();
                        $.each(data, function (i, semyear) {
                            items += "<option value ='" + semyear.value + "'>" + semyear.text + "</option>";
                    });
                        $('#SemYearId').html(items);
                });
                });
            });

    </script>
    @*bind branch/subject*@
    <script type="text/javascript">
            $(document).ready(function () {
                $("#CourseId").on("change", function () {
                    $("#BranchId").empty();
                    var ddlsource = "#CourseId";
                    var url = '@Url.Content("~/")' + "PCPSendPaper/GetBranch?CourseId="+$(ddlsource).val();

                    $.getJSON(url, function (data) {
                    var items = '';
                        $("#BranchId").empty();
                        $.each(data, function (i, branch) {
                            items += "<option value ='" + branch.value + "'>" + branch.text + "</option>";
                    });
                        $('#BranchId').html(items);
                });
                });
            });

    </script>

    @*bind session/syllabus*@
    <script type="text/javascript">
            $(document).ready(function () {
                $("#ExamId").on("change", function () {
                    $("#SessionId").empty();
                    var ddlsource = "#ExamId";
                    var url = '@Url.Content("~/")' + "PCPSendPaper/GetSyllabus?ExamId="+$(ddlsource).val();

                    $.getJSON(url, function (data) {
                    var items = '';
                        $("#SessionId").empty();
                        $.each(data, function (i, syllabus) {
                            items += "<option value ='" + syllabus.value + "'>" + syllabus.text + "</option>";
                    });
                        $('#SessionId').html(items);
                });
                });
            });

    </script>

    @*bind qp*@
    <script type="text/javascript">
            $(document).ready(function () {
                $("#CourseId").on("change", function () {
                    $("#QPId").empty();
                    var ddlsource = "#CourseId";
                    var url = '@Url.Content("~/")' + "PCPSendPaper/GetQP?CourseId="+$(ddlsource).val();

                    $.getJSON(url, function (data) {
                    var items = '';
                        $("#QPId").empty();
                        $.each(data, function (i, qp) {
                            items += "<option value ='" + qp.value + "'>" + qp.text + "</option>";
                    });
                        $('#QPId').html(items);
                });
                });
            });

    </script>


    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    @*<script src="~/assets/js/table-data.js"></script>
        <script src="~/assets/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
         <script src="~/assets/plugins/datatable/js/jszip.min.js"></script>
         <script src="~/assets/plugins/datatable/pdfmake/pdfmake.min.js"></script>
         <script src="~/assets/plugins/datatable/pdfmake/vfs_fonts.js"></script>
         <script src="~/assets/plugins/datatable/js/buttons.html5.min.js"></script>
         <script src="~/assets/plugins/datatable/js/buttons.print.min.js"></script>
         <script src="~/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
         <script src="~/assets/plugins/datatable/dataTables.responsive.min.js"></script>
         <script src="~/assets/plugins/datatable/responsive.bootstrap5.min.js"></script>*@


}

