@model CoreLayout.Models.PCP.PCPSendPaperModel
@{
    ViewData["Title"] = "Create";
}

<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Send Paper To Printing Agency</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">SendPaper</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </div>

</div>
<!-- End Page Header -->
<!-- Conetnt Start-->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                @*<div>
                        <h6 class="card-title mb-1">Create State</h6>
                        <hr>
                    </div>*@
                <form asp-action="Create" method="post" id="form1">
                    <input type="hidden" asp-for="paperids" value="" id="hdnpaperid" />
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="parsley-errors-list filled">

                        </div>
                        @*<div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CourseID"> </label><span class="tx-danger"> *</span>
                    <select class="form-control select" asp-for="CourseID" asp-items="@(new SelectList(Model.CourseList,"CourseID","CourseName"))">
                        <option selected="selected" disabled="disabled" value="">--Select-- </option>
                    </select>
                    <span asp-validation-for="CourseID" class="parsley-errors-list filled"></span>
                </div>
            </div>*@
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PaperSetterId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="PaperSetterId" asp-items="@(new SelectList(Model.PaperSetterList,"PaperSetterId","PaperSetterName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span asp-validation-for="PaperSetterId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="UserId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="UserId" asp-items="@(new SelectList(Model.AgencyList,"UserID","UserName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span asp-validation-for="UserId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PaperOpenTime"> </label><span class="tx-danger"> *</span>
                                <input asp-for="PaperOpenTime" class="form-control" />
                                <span asp-validation-for="PaperOpenTime" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="StaticIPAddress"> </label><span class="tx-danger"> *</span>
                                <input asp-for="StaticIPAddress" class="form-control" />
                                <span asp-validation-for="StaticIPAddress" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-body">
                                    <div class="table-responsive-sm">
                                        <label> Paper List </label><span class="tx-danger"> *</span>
                                        <table id="exportexample" class="table table-sm table-bordered key-buttons text-wrap w-100">
                                            <thead>
                                                <tr>
                                                    <th>@*<input name="select_all" id="select_all" value="1" type="checkbox">*@</th>
                                                    <th>S.No</th>
                                                    <th>
                                                        @Html.DisplayNameFor(c => c.UserId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(c => c.CourseID)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(c => c.BranchName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(c => c.SemYearId)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(c => c.Session)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(c => c.QPName)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(c => c.QPCode)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(c => c.CreatedDate)
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody id="output"></tbody>

                                        </table>
                                        @*<span asp-validation-for="paperids" class="parsley-errors-list filled"></span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Row -->
                    <div class="form-group">
                        <input id="submit" type="submit" class="btn btn-primary" value="Save" onclick="return confirm('After submit you can not any changes! submit?')" />
                        <a asp-action="Index" class="btn btn-success">Back to List</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- Conetnt End-->
@section Scripts{
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#PaperSetterId").on("change", function () {
                var ddlsource = "#PaperSetterId";
                var url = '@Url.Content("~/")' + "PCPSendPaper/GetPaper?PaperSetterId=" + $(ddlsource).val();
                $.getJSON(url, function (data) {
                    let output = data.map((i,index) => "<tr><td><input type='checkbox' id='chkid' value='"+i.paperId+"' /> </td><td>"+(index+1)+"</td> <td>" + i.userName + "</td><td>" + i.courseName + "</td><td>" + i.branchName + "</td><td>" + i.semYearId + "</td><td>" + i.session + "</td><td>" + i.qpName + "</td><td>" + i.qpCode + "</td><td>" + i.createdDate + "</td></tr>");
                    $("#output").html(output);
                });
            });
        });
    </script>

    @*checkbox multi select at one time*@
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/table-data.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatable/responsive.bootstrap5.min.js"></script>
    @*<script>
        function updateDataTableSelectAllCtrl(table) {
            var $table = table.table().node();
            var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);
        }
        $(document).ready(function () {
            // Array holding selected row IDs

            var rows_selected = [];
            //var table = $('#exportexample').DataTable({
            //    "scrollY": 100,
            //    "scrollX": true,
            //    "scrollCollapse": true,
            //    "fixedHeader": true,
            //    "bInfo": false,
            //    scrollResize: true,
            //    lengthChange: false,
            //    searching: false,
            //    paging: false,
            //    fixedColumns: {
            //        leftColumns: 1,
            //        rightColumns: 1
            //    },
            //    columnDefs: [{
            //        orderable: false,
            //        className: 'select-checkbox',
            //        targets: 0
            //    }],
            //    select: {
            //        style: 'multi',
            //        selector: 'td:first-child'
            //    },
            //    order: [[1, 'asc']]
            //});
            var table = $('#exportexample').DataTable();
            // Handle click on checkbox
            $('#exportexample tbody').on('click', 'input[type="checkbox"]', function (e) {

                var $row = $(this).closest('tr');

                // Get row data
                var data = table.row($row).data();

                // Update state of "Select all" control
                updateDataTableSelectAllCtrl(table);

                // Prevent click event from propagating to parent
                e.stopPropagation();
            });

            // Handle click on "Select all" control
            $('thead input[name="select_all"]', table.table().container()).on('click', function (e) {
                if (this.checked) {
                    $('#exportexample tbody input[type="checkbox"]:not(:checked)').trigger('click');
                } else {
                    $('#exportexample tbody input[type="checkbox"]:checked').trigger('click');
                }
                // Prevent click event from propagating to parent
                e.stopPropagation();
            });
        });
    </script>*@

    <script type="text/javascript">
        i = 0;
        $('#submit').click(function () {
            var userid = [];
            $('#chkid:checked').each(function () {
                userid[i++] = $(this).val();
            });
            if (userid.length > 0) {
                document.getElementById('hdnpaperid').value = userid;
                var form = document.getElementById("form1");
                form.submit();
            }
            else {
                alert("Select atleast one checkbox");
            }
        });

    </script>



}

