@model CoreLayout.Models.PCP.PCPSendPaperModel
@{
    ViewData["Title"] = "Create";
}

<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Send Paper To Printing Agency</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">SendPaper</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </div>

</div>
<!-- End Page Header -->
<!-- Conetnt Start-->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                @*<div>
                        <h6 class="card-title mb-1">Create State</h6>
                        <hr>
                    </div>*@
                <form asp-action="Create" method="post" id="form1">
                    <input type="hidden" asp-for="paperids" value="" id="hdnpaperid" />
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="parsley-errors-list filled">

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CourseID"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="CourseID" asp-items="@(new SelectList(Model.CourseList,"CourseID","CourseName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span asp-validation-for="CourseID" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="UserId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="UserId" asp-items="@(new SelectList(Model.AgencyList,"UserID","UserName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span asp-validation-for="UserId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PaperOpenTime"> </label><span class="tx-danger"> *</span>
                                <input asp-for="PaperOpenTime" class="form-control" />
                                <span asp-validation-for="PaperOpenTime" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="StaticIPAddress"> </label><span class="tx-danger"> *</span>
                                <input asp-for="StaticIPAddress" class="form-control" />
                                <span asp-validation-for="StaticIPAddress" class="parsley-errors-list filled"></span>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PaperId"> </label><span class="tx-danger"> *</span>
                                <table id="exportexample" class="table table-sm table-bordered key-buttons text-nowrap w-100">
                                    <thead>
                                        <tr>
                                            <th><input name="select_all" value="1" type="checkbox"></th>
                                            <th>S.No</th>
                                            <th>
                                                @Html.DisplayNameFor(c => c.PaperId)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(c => c.PaperCode)
                                            </th>
                                            @*<th>
                                @Html.DisplayNameFor(c => c.PaperPath)
                            </th>*@
                                            <th>
                                                @Html.DisplayNameFor(c => c.UserName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(c => c.CreatedDate)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            int sno = 0;
                                        }
                                        @foreach (var item in ViewBag.PaperList)
                                        {
                                            <tr>
                                                <td> <input type="checkbox" id="chkid" value="@item.PaperId" /></td>

                                                <td>
                                                    @{ sno++; }
                                                    @sno
                                                </td>
                                                <td>@item.PaperName</td>
                                                <td>@item.PaperCode</td>
                                                @*<td>
                                    <img src="~/Images/pdfimage.png" height=50 width=50 /><br />
                                    <a asp-action="Download" asp-route-id="@item.PaperId" target="_blank">Download</a>
                                </td>*@
                                                <td>@item.UserName</td>
                                                <td>@item.CreatedDate</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                <span asp-validation-for="paperids" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                    </div>


                    <br />
                    <div class="form-group">
                        <input id="submit" type="submit" class="btn btn-primary" value="Save" onclick="return confirm('After submit you can not any changes! submit?')" />
                        <a asp-action="Index" class="btn btn-success">Back to List</a>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<!-- Conetnt End-->
@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#PaperSetterId").on("change", function () {

               /* $("#PaperId").empty();*/

                var ddlsource = "#PaperSetterId";
                var url = '@Url.Content("~/")' + "PCPSendPaper/GetPaper?PaperSetterId="+$(ddlsource).val();

                $.getJSON(url, function (data) {
                var items = '';
                    $("#PaperId").empty();
                    $.each(data, function (i, user) {
                        items += "<option value ='" + user.value + "'>" + user.text + "</option>";
                });
                    $('#PaperId').html(items);
            });
            });
        });
    </script>


    @*checkbox multi select at one time*@
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>

    <script>
        function updateDataTableSelectAllCtrl(table) {
            var $table = table.table().node();
            var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);
        }
        $(document).ready(function () {
            // Array holding selected row IDs

            var rows_selected = [];
            var table = $('#exportexample').DataTable({
                "scrollY": 100,
                "scrollX": true,
                "scrollCollapse": true,
                "fixedHeader": true,
                "bInfo": false,
                scrollResize: true,
                lengthChange: false,
                searching: false,
                paging: false,
                fixedColumns: {
                    leftColumns: 1,
                    rightColumns: 1
                },
                columnDefs: [{
                    orderable: false,
                    className: 'select-checkbox',
                    targets: 0
                }],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                order: [[1, 'asc']]
            });
            //var table = $('#exportexample').DataTable();
            // Handle click on checkbox
            $('#exportexample tbody').on('click', 'input[type="checkbox"]', function (e) {

                var $row = $(this).closest('tr');

                // Get row data
                var data = table.row($row).data();

                // Update state of "Select all" control
                updateDataTableSelectAllCtrl(table);

                // Prevent click event from propagating to parent
                e.stopPropagation();
            });

            // Handle click on "Select all" control
            $('thead input[name="select_all"]', table.table().container()).on('click', function (e) {
                if (this.checked) {
                    $('#exportexample tbody input[type="checkbox"]:not(:checked)').trigger('click');
                } else {
                    $('#exportexample tbody input[type="checkbox"]:checked').trigger('click');
                }
                // Prevent click event from propagating to parent
                e.stopPropagation();
            });
        });
    </script>

    <script type="text/javascript">
        i = 0;
        $('#submit').click(function () {
            var userid = [];
            $('#chkid:checked').each(function () {
                userid[i++] = $(this).val();
            });
            if (userid.length > 0) {
                document.getElementById('hdnpaperid').value = userid;
                var form = document.getElementById("form1");
                form.submit();
            }
            else {
                alert("Select atleast one checkbox");
            }
        });

    </script>


}

