@using CoreLayout.Models.PCP
@model IEnumerable<PCPUploadPaperModel>
@{
    ViewData["title"] = "Index";
}


<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Send Reminder List</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">SendReminder</a></li>
            <li class="breadcrumb-item active" aria-current="page">Index</li>
        </ol>
    </div>
    <div class="d-flex">
        <div class="me-2">
            <a class="btn ripple btn-outline-primary dropdown-toggle mb-0" href="#"
               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fe fe-external-link"></i> Export <i class="fa fa-caret-down ms-1"></i>
            </a>
            <div class="dropdown-menu tx-13">
                <a class="dropdown-item" href="#"><i class="fa fa-file-pdf me-2"></i>Export as Pdf</a>
                <a class="dropdown-item" href="#"><i class="fa fa-image me-2"></i>Export as Image</a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-file-excel me-2"></i>Export as
                    Excel
                </a>
            </div>
        </div>
        <div class="">
            <a href="#" class="btn ripple btn-secondary navresponsive-toggler mb-0"
               data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
               aria-controls="navbarSupportedContent" aria-expanded="false"
               aria-label="Toggle navigation">
                <i class="fe fe-filter me-1"></i> Filter <i class="fa fa-caret-down ms-1"></i>
            </a>
        </div>
    </div>
</div>
<!-- End Page Header -->
<!--Navbar-->
<div class="responsive-background">
    <form method="post">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="advanced-search br-3">
                <div class="row align-items-center">
                    <div class="col-md-6 col-xl-3">
                        <div class="form-group mb-lg-0">
                            <label> IS Paper Uploaded or Not ?</label><span class="tx-danger"> *</span>
                            @Html.DropDownList("IsPaperUploaded", new List<SelectListItem>
                            {
                           new SelectListItem{ Text="--Please Select--", Value = "0" , Selected = true},
                            new SelectListItem{ Text="Yes", Value = "1" },
                            new SelectListItem{ Text="No", Value = "2" },

                            },
                            new { @class = "form-control" })
                        </div>
                    </div>

                </div>
                <hr>
                <div class="text-end">
                    <input asp-action="Index" type="submit" class="btn btn-primary" value="Apply" />
                    <input asp-action="Reset" type="submit" class="btn btn-secondary" value="Reset" />
                </div>
            </div>
        </div>
    </form>
</div>
<!--End Navbar -->
<div>
    <div asp-validation-summary="ModelOnly" class="parsley-errors-list filled">

    </div>
</div>
<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div class="table-responsive-sm">
                    <table id="exportexample" class="table table-sm table-bordered key-buttons text-wrap w-100">
                        <thead>
                            <tr>
                                <th><input name="select_all" value="1" type="checkbox"></th>
                                <th>S.No</th>
                                <th>
                                    @Html.DisplayNameFor(c => c.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.InstituteCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.BranchCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.CourseCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.QPCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.QPName)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(c => c.PaperCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.PaperName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.PaperPassword)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.PaperPath)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.Session) <br /> @Html.DisplayNameFor(c => c.SessionType)
                                </th>


                            </tr>
                        </thead>

                        <tbody>
                            @{
                                int sno = 0;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @if (item.PaperPath != null)
                                        {
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="chkid" value="@item.PCPRegID" />
                                        }
                                    </td>
                                    <td>
                                        @{ sno++; }
                                        @sno
                                    </td>

                                    <td>@item.UserName</td>

                                    <td>@item.InstituteCode</td>
                                    <td>@item.BranchCode</td>
                                    <td>@item.CourseCode</td>
                                    <td>@item.QPCode</td>
                                    <td>@item.QPName</td>
                                    <td>@item.PaperCode</td>
                                    <td>@item.PaperName</td>
                                    <td>@item.PaperPassword</td>
                                    @if (item.PaperPath != null)
                                    {
                                        <td>
                                            <img src="~/Images/pdfimage.png" height=50 width=50 /><br />
                                            <a asp-action="Download" asp-route-id="@item.EncryptedId" target="_blank">Download</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="font-weight:bold; color:red">Paper Not Uploaded</td>
                                    }
                                    <td>@item.Session <br /> @item.SessionType</td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <input type="button" id="btnReminder" name="Reminder" value="Send Reminder" class="btn btn-success" onclick="return confirm('Are you sure you want to send reminder?')" />
</div>
<!-- End Row -->

@section Scripts{

    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/table-data.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatable/responsive.bootstrap5.min.js"></script>

    @*sendReminder*@
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnReminder").click(function () {
                var userid = [];
                var i = 0;
                //Loop through all checked CheckBoxes in GridView.
                $("#exportexample tbody input[type=checkbox]:checked").each(function () {
                    userid[i] = $(this).val();
                    i++;
                });

                if (userid.length > 0) {
                    $.ajax({
                        type: 'POST',
                        url: '/PCPSendReminder/SendReminder?uid=' + userid,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            /*alert(data);*/
                        },
                        error: function (data) {
                            /*alert("error!");*/
                        }
                    });
                }
                else {
                    alert("Select atleast one checkbox");
                }
            });
        });
    </script>

    @*ViewReminder*@
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnViewReminder").click(function () {
                var userid = [];
                var i = 0;
                //Loop through all checked CheckBoxes in GridView.
                $("#exportexample tbody input[type=checkbox]:checked").each(function () {
                    userid[i] = $(this).val();
                });
                if (userid.length > 0) {
                    $.ajax({
                        type: 'POST',
                        url: '/PCPSendReminder/ViewReminder?uid=' + userid,
                        contentType: "application/json; charset=utf-8",
                        data: $(this).serialize(),
                        success: function (data) {

                        },

                        error: function (data) {
                            /*alert("error!");*/
                        }
                    });
                }
                else {
                    alert("Select atleast one checkbox");
                }
            });
        });
    </script>

    @*checkbox multi select at one time*@
    <script>
        function updateDataTableSelectAllCtrl(table) {
            var $table = table.table().node();
            var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);
        }
        $(document).ready(function () {
            // Array holding selected row IDs

            var rows_selected = [];
            //var table = $('#exportexample').DataTable({
            //    /*$("#exportexample").dataTable().fnDestroy();*/
            //});
            var table = $('#exportexample').DataTable();
            // Handle click on checkbox
            $('#exportexample tbody').on('click', 'input[type="checkbox"]', function (e) {

                var $row = $(this).closest('tr');

                // Get row data
                var data = table.row($row).data();

                // Update state of "Select all" control
                updateDataTableSelectAllCtrl(table);

                // Prevent click event from propagating to parent
                e.stopPropagation();
            });

            // Handle click on "Select all" control
            $('thead input[name="select_all"]', table.table().container()).on('click', function (e) {
                if (this.checked) {
                    $('#exportexample tbody input[type="checkbox"]:not(:checked)').trigger('click');
                } else {
                    $('#exportexample tbody input[type="checkbox"]:checked').trigger('click');
                }
                // Prevent click event from propagating to parent
                e.stopPropagation();
            });
        });
    </script>


}