@model CoreLayout.Models.UserManagement.MenuModel
@{
    ViewData["Title"] = "Create";
}

<!-- Main Content-->
<div class="main-content side-content pt-0">
    <div class="side-app">

        <div class="main-container container-fluid">


            <!-- Page Header -->
            <div class="page-header">
                <div>
                    <h2 class="main-content-title tx-24 mg-b-5">Create Menu</h2>
                    <hr />
                </div>

            </div>
            <!-- End Page Header -->

            <!-- Conetnt Start-->
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card custom-card">
                        <div class="card-body">
                            <div>
                                <h6 class="card-title mb-1">Create Menus and Submenus</h6>
                                <hr />
                            </div>



                            <form asp-action="Create" method="post">
                                <div class="row">
                                    <div asp-validation-summary="ModelOnly" class="text-danger">

                                    </div>
                                    @*<div class="form-group row">
                                            <div class="col-2">
                                                <label asp-for="Level1"> </label>
                                            </div>
                                            <div class="col-5">
                                                <input asp-for="Level1" class="form-control" />
                                                <span asp-validation-for="Level1" class="text-danger"></span>
                                            </div>

                                        </div>*@

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Level1" class="mg-b-10"> </label>
                                            <select asp-for="Level1"
                                                    class="form-control form-select select2"
                                                    asp-items="@(new SelectList(ViewBag.ParentMenuList,"Value", "Text"))">
                                            </select>

                                            <span asp-validation-for="Level1" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Level2" class="mg-b-10"> </label>
                                            <select asp-for="Level2"
                                                    class="form-select form-select select2"
                                                    asp-items="@(new SelectList(string.Empty,"Value", "Text"))">
                                            </select>
                                            <span asp-validation-for="Level2" class="text-danger"></span>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Level3" class="mg-b-10"> </label>
                                            <input asp-for="Level3" class="form-control" value="*" />
                                            <span asp-validation-for="Level3" class="text-danger"></span>
                                        </div>
                                    </div>



                                    @*<div class="form-group row">
                                            <div class="col-2">
                                                <label asp-for="Role"> </label>
                                            </div>
                                            <div class="col-5">
                                                <select asp-for="Role"
                                                        class="form-control"
                                                        asp-items="@(new SelectList(ViewBag.Listofrole))">
                                                </select>
                                                <span asp-validation-for="Role" class="text-danger"></span>
                                            </div>

                                        </div>*@

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Controller" class="mg-b-10"> </label>
                                            <input asp-for="Controller" class="form-control" />
                                            <span asp-validation-for="Controller" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Action" class="mg-b-10"> </label>
                                            <input asp-for="Action" class="form-control" />
                                            <span asp-validation-for="Action" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Status" class="mg-b-10"> </label>
                                            <div>
                                                @Html.DropDownList("Status", new List<SelectListItem>
                                                {
                                                    new SelectListItem{ Text="Active", Value = "Active" },
                                                     new SelectListItem{ Text="InActive", Value = "InActive" },

                                                },
                                                new { @class = "form-select form-select select2" })
                                            </div>
                                            <span asp-validation-for="Status" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Remarks" class="mg-b-10"> </label>
                                            <input asp-for="Remarks" class="form-control" />
                                            <span asp-validation-for="Remarks" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" value="Save" />
                                        <a asp-action="Index" class="btn btn-success">Back to List</a>
                                    </div>
                                </div>

                            </form>






                        </div>
                    </div>
                </div>
            </div>
            <!-- Conetnt End-->

        </div>
    </div>
</div>

<!-- End Main Content -->


@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Level1").on("change", function () {
                $("#Level2").empty();
                var ddlsource = "#Level1";
                var url = '@Url.Content("~/")' + "Menu/GetSubMenu?ParentMenuId="+$(ddlsource).val();

                $.getJSON(url, function (data) {
                var items = '';
                    $("#Level2").empty();
                    $.each(data, function (i, submenu) {
                        items += "<option value ='" + submenu.value + "'>" + submenu.text + "</option>";
                });
                    $('#Level2').html(items);
            });
            });
        });

    </script>
}
