@using CoreLayout.Models.PCP
@model IEnumerable<PCPRegistrationModel>
@{
    ViewData["title"] = "Index";
}


<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Registered User List</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">ApproveUser</a></li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
        </ol>
    </div>
    @*<div class="btn btn-list">
            <a asp-action="Create" class="btn ripple btn-success btn-sm"><i class="fe fe-plus"></i>&nbsp;New User</a>
        </div>*@
</div>

<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div class="table-responsive-sm">

                    <table id="exportexample" class="table table-sm table-bordered key-buttons text-nowrap w-100">
                        <thead>
                            <tr>
                                <th></th>
                                <th>S.No</th>
                                <th>
                                    @Html.DisplayNameFor(c => c.UserName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.LoginID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.MobileNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.EmailID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.QPCode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.QPName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(c => c.IPAddress)
                                </th>
                                @*<th>
                                        @Html.DisplayNameFor(c => c.InstituteId)
                                    </th>*@
                                <th>
                                    @Html.DisplayNameFor(c => c.CreatedDate)
                                </th>
                                @*<th>
                                    @Html.DisplayNameFor(c => c.ModifiedDate)
                                </th>*@
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                int sno = 0;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @if (item.IsApproved == 1)
                                        {
                                            <input type="checkbox" disabled="disabled" id="chkid" value="@item.UserID"  />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="chkid" value="@item.UserID" />
                                        }


                                    </td>
                                    <td>
                                        @{ sno++; }
                                        @sno
                                    </td>
                                    <td>@item.UserName</td>
                                    <td>@item.LoginID</td>
                                    <td>@item.MobileNo</td>
                                    <td>@item.EmailID</td>
                                    <td>@item.QPCode</td>
                                    <td>@item.QPName</td>
                                    <td>@item.IPAddress</td>
                                    @*<td>@item.InstituteName</td>*@
                                    <td>@item.CreatedDate</td>
                                    @*<td>@item.ModifiedDate</td>*@
                                    <td>
                                        <div class="table-actions text-center">
                                            @*<a asp-action="Edit" id="edit" asp-route-id=@item.EncryptedId data-bs-toggle="tooltip" title="" data-bs-placement="top" data-bs-original-title="Edit"><i class="fe fe-edit fs-16 mr-30 text-success"></i></a>*@
                                            <a asp-action="Details" id="details" asp-route-id=@item.EncryptedId data-bs-toggle="tooltip" title="" data-bs-placement="top" data-bs-original-title="View"><i class="fe fe-eye fs-16 mr-30 text-warning"></i></a>
                                            <a asp-action="Delete" id="delete" asp-route-id=@item.EncryptedId data-bs-toggle="tooltip" title="" data-bs-placement="top" data-bs-original-title="Delete" onclick="return confirm('Are you sure you want to delete this?')"><i class="fe fe-trash fs-16 text-danger"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="form-group">
                        <input type="button" id="btnSend" name="Approved" value="Approved" class="btn btn-success" onclick="return confirm('Are you sure you want to proceed?')" />
                        <input type="button" id="btnReminder" name="Reminder" value="Reminder" class="btn btn-success" onclick="return confirm('Are you sure you want proceed?')" />
                        <a asp-action="Index" class="btn btn-success">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

@section Scripts{

    <script type="text/javascript">
        function showMsg(msg, controller) {
            mscConfirm(msg, function () {
                window.location.href = 'Students/' + controller;
            });
        }


    </script>
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/table-data.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatable/responsive.bootstrap5.min.js"></script>

    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
            $(function () {
                //Assign Click event to Button.
                $("#btnGet").click(function () {
                    var message = "Id";

                    //Loop through all checked CheckBoxes in GridView.
                    $("#exportexample input[type=checkbox]:checked").each(function () {
                        var row = $(this).closest("tr")[0];
                        message += row.cells[1].innerHTML;
                        //message += "   " + row.cells[2].innerHTML;
                        //message += "   " + row.cells[3].innerHTML;
                        //message += "\n";
                    });

                    //Display selected Row data in Alert Box.
                    $.ajax({
            url: '@Url.Action("Submit", "PSPApproval")',
            data: { id: id },
            type: "GET"
        }).done(function() {
            console.log("Done");
        });
        return false;
                });
            });
        </script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/json2/20130526/json2.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $("#btnSend").click(function () {
                var userid = [];
                var i = 0;
                //Loop through all checked CheckBoxes in GridView.
                $("#exportexample tbody input[type=checkbox]:checked").each(function () {
                    userid[i] = $(this).val();
                    i++;
                });
                if (userid[i] != null) {
                    $.ajax({
                        type: 'POST',
                        url: '/PCPApproval/GetJsonData?uid=' + userid,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            /*alert(data);*/
                        },
                        error: function (data) {
                            /*alert("error!");*/
                        }
                    });
                }
                else {
                    alert("Select atleast one checkbox/ No approval pending");
                }

            });

        });



    </script>

    <script type="text/javascript">

        $(document).ready(function () {

            $("#btnReminder").click(function () {
                var userid = [];
                var i = 0;
                //Loop through all checked CheckBoxes in GridView.
                $("#exportexample tbody input[type=checkbox]:checked").each(function () {
                    userid[i] = $(this).val();
                    i++;
                });

                if (userid.length > 0 ) {
                    $.ajax({
                        type: 'POST',
                        url: '/PCPApproval/SendReminder?uid=' + userid,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            /*alert(data);*/
                        },
                        error: function (data) {
                            /*alert("error!");*/
                        }
                    });
                }
                else {
                    alert("Select atleast one checkbox");
                }

            });

        });



    </script>
}