@using CoreLayout.Models.PCP
@model IEnumerable<PCPRegistrationModel>
@{
    ViewData["title"] = "Index";
}


<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Registered User List</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">RegisteredUser</a></li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
        </ol>
    </div>
    @*<div class="btn btn-list">
            <a asp-action="Create" class="btn ripple btn-success btn-sm"><i class="fe fe-plus"></i>&nbsp;New User</a>
        </div>*@
</div>

<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <form asp-action="Index" method="post" id="form1">
                    <div class="table-responsive-sm">

                        <table id="exportexample" class="table table-sm table-bordered key-buttons text-wrap w-100">
                            <thead>
                                <tr>
                                    <th><input name="select_all" value="1" type="checkbox"></th>
                                    <th>S.No</th>
                                    <th>
                                        @Html.DisplayNameFor(c => c.UserName)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(c => c.MobileNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(c => c.EmailID)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(c => c.InstituteCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(c => c.BranchCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(c => c.CourseCode)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(c => c.CreatedDate)
                                    </th>

                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    int sno = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="chkid" value="@item.PCPRegID" />
                                        </td>
                                        <td>
                                            @{ sno++; }
                                            @sno
                                        </td>
                                        <td>@item.UserName</td>

                                        <td>@item.MobileNo</td>
                                        <td>@item.EmailID</td>
                                        <td>@item.InstituteCode</td>
                                        <td>@item.BranchCode</td>
                                        <td>@item.CourseCode</td>
                                        <td>@item.CreatedDate</td>

                                        <td>
                                            <div class="table-actions text-center">
                                                @*<a asp-action="Edit" id="edit" asp-route-id=@item.EncryptedId data-bs-toggle="tooltip" title="" data-bs-placement="top" data-bs-original-title="Edit"><i class="fe fe-edit fs-16 mr-30 text-success"></i></a>*@
                                                <a asp-action="Details" id="details" asp-route-id=@item.EncryptedId data-bs-toggle="tooltip" title="" data-bs-placement="top" data-bs-original-title="View"><i class="fe fe-eye fs-16 mr-30 text-warning"></i></a>
                                                <a asp-action="Delete" id="delete" asp-route-id=@item.EncryptedId data-bs-toggle="tooltip" title="" data-bs-placement="top" data-bs-original-title="Delete" onclick="return confirm('Are you sure you want to delete this?')"><i class="fe fe-trash fs-16 text-danger"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="form-group">

                            <input type="button" id="btnSend" name="Approved" value="Approved" class="btn btn-success" onclick="return confirm('Are you sure you want to approved?')" />
                            @*<input type="button" id="btnReminder" name="Reminder" value="Reminder" class="btn btn-success" onclick="return confirm('Are you sure you want proceed?')" />*@
                            @*<a asp-action="Index" class="btn btn-success">Back to List</a>*@

                        </div>
                    </div>
                    </form>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

@section Scripts{

    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/table-data.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatable/responsive.bootstrap5.min.js"></script>

    @*checkbox*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/json2/20130526/json2.min.js"></script>*@
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btnSend").click(function () {
                var userid = [];
                var i = 0;
                //Loop through all checked CheckBoxes in GridView.
                $("#exportexample tbody input[type=checkbox]:checked").each(function () {
                    userid[i] = $(this).val();
                    i++;
                });
                if (userid.length > 0) {
                    $.ajax({
                        type: 'POST',
                        url: '/PCPApproval/Approved?uid=' + userid,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            alert("1");
                            var form = document.getElementById("form1");
                            form.reload();
                        },
                        error: function (data) {
                            alert("0");
                        }
                    });
                }
                else {
                    alert("Select atleast one checkbox");
                }

            });

        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnReminder").click(function () {
                var userid = [];
                var i = 0;
                //Loop through all checked CheckBoxes in GridView.
                $("#exportexample tbody input[type=checkbox]:checked").each(function () {
                    userid[i] = $(this).val();
                    i++;
                });

                if (userid.length > 0) {
                    $.ajax({
                        type: 'POST',
                        url: '/PCPApproval/SendReminder?uid=' + userid,
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            /*alert(data);*/
                            
                        },
                        error: function (data) {
                            /*alert("error!");*/
                        }
                    });
                }
                else {
                    alert("Select atleast one checkbox");
                }

            });

        });
    </script>

    @*checkbox multi select at one time*@
    <script>
        function updateDataTableSelectAllCtrl(table) {
            var $table = table.table().node();
            var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);
        }
        $(document).ready(function () {
            // Array holding selected row IDs

            var rows_selected = [];
            //var table = $('#exportexample').DataTable({
            //    /*$("#exportexample").dataTable().fnDestroy();*/
            //});
            var table = $('#exportexample').DataTable();
            // Handle click on checkbox
            $('#exportexample tbody').on('click', 'input[type="checkbox"]', function (e) {

                var $row = $(this).closest('tr');

                // Get row data
                var data = table.row($row).data();

                // Update state of "Select all" control
                updateDataTableSelectAllCtrl(table);

                // Prevent click event from propagating to parent
                e.stopPropagation();
            });

            // Handle click on "Select all" control
            $('thead input[name="select_all"]', table.table().container()).on('click', function (e) {
                if (this.checked) {
                    $('#exportexample tbody input[type="checkbox"]:not(:checked)').trigger('click');
                } else {
                    $('#exportexample tbody input[type="checkbox"]:checked').trigger('click');
                }
                // Prevent click event from propagating to parent
                e.stopPropagation();
            });
        });
    </script>
}