@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WRN- Chhatrapati Shahu Ji Maharaj University, Kanpur</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/assets/WRN/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/assets/WRN/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/assets/WRN/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/assets/WRN/images/logo-mini.png" />
    <style>
        .ts {
            text-shadow: -1px 1px 2px #000
        }
    </style>
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="index.html"><img src="~/assets/WRN/images/logo.png" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/assets/WRN/images/logo-mini.png" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">

                            <div class="nav-profile-text">
                                <p class="mb-1 text-black"> <i class="mdi mdi-settings menu-icon"></i>Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="mdi mdi-cached me-2 text-primary"></i> Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-action="Logout" asp-controller="WRNRegistration">
                                <i class="mdi mdi-logout me-2 text-primary"></i> Signout
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="nav-profile-image">
                                <img src="~/assets/WRN/images/faces/face1.jpg" alt="profile">
                                <span class="login-status online"></span>
                                <!--change to offline or busy as needed-->
                            </div>
                            <div class="nav-profile-text d-flex flex-column">
                                <span class="font-weight-bold mb-2">@HttpContextAccessor.HttpContext.Session.GetString("SessionFirstName") @HttpContextAccessor.HttpContext.Session.GetString("SessionMiddleName") @HttpContextAccessor.HttpContext.Session.GetString("SessionLastName")</span>
                                <!-- <span class="text-secondary text-small">Project Manager</span>-->
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="WRNDashboard" asp-action="Dashboard">
                            <span class="menu-title">Dashboard</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="CompleteRegistration" asp-controller="WRNRegistration">
                            <span class="menu-title">Complet Registration</span>
                            <i class="mdi mdi-file-document-box menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="menu-title">Fee Payment</span>
                            <i class="mdi mdi-currency-inr menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="menu-title">Edit Registration</span>
                            <i class="mdi mdi-lead-pencil menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="menu-title">Print Registration</span>
                            <i class="mdi mdi-printer menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="menu-title">Find Secret Code</span>
                            <i class="mdi mdi-settings menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="menu-title">Manage Profile</span>
                            <i class="mdi mdi-face menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            @RenderBody()
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/assets/WRN/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/assets/WRN/vendors/chart.js/Chart.min.js"></script>
    <script src="~/assets/WRN/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/assets/WRN/js/off-canvas.js"></script>
    <script src="~/assets/WRN/js/hoverable-collapse.js"></script>
    <script src="~/assets/WRN/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/assets/WRN/js/dashboard.js"></script>
    <script src="~/assets/WRN/js/todolist.js"></script>
    <!-- End custom js for this page -->
    @*//for validation*@
    <script src="~/assets/lib/jquery/dist/jquery.js"></script>
    <script src="~/assets/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @*upper case*@
    <script type="text/javascript">
        function upperCaseF(a) {
            setTimeout(function () {
                a.value = a.value.toUpperCase();
            }, 1);
        }
    </script>

    @*model validation css*@
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        .error {
            color: red;
        }
    </style>

    @*sweet alert*@
    <link media="screen" rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.css" />
    <link media="screen" rel="stylesheet" href='https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.css' />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />*@
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.js"></script>
    @if (TempData["success"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal("Success!", '@TempData["success"]', "success");
            };
        </script>
    }
    @if (TempData["error"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal("Failed!", '@TempData["error"]', "error");
            };
        </script>
    }
    @if (TempData["warning"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal("Warning!", '@TempData["warning"]', "warning");
            };
        </script>
    }
</body>
</html>
