@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using CoreLayout.Models.Masters
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="description" content="Dashlead -  Admin Panel HTML Dashboard Template">
    <meta name="author" content="Spruko Technologies Private Limited">
    <meta name="keywords"
          content="sales dashboard, admin dashboard, bootstrap 4 admin template, html admin template, admin panel design, admin panel design, bootstrap 4 dashboard, admin panel template, html dashboard template, bootstrap admin panel, sales dashboard design, best sales dashboards, sales performance dashboard, html5 template, dashboard template">
    @*for alert message*@
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />

    <!-- Favicon -->
    <link rel="icon" href="~/assets/img/brand/favicon.ico" type="image/x-icon" />

    <!-- Title -->
    <title>@ViewData["Title"] -CSJMU</title>

    <!---bootstrap css-->
    <link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--- FONT-ICONS CSS -->
    <link href="~/assets/css/icons.css" rel="stylesheet">

    <!---Falg-icons css-->
    <link href="~/assets/plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

    <!---Style css-->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/skins.css" rel="stylesheet">
    <link href="~/assets/css/dark-style.css" rel="stylesheet">
    <link href="~/assets/css/transparent-style.css" rel="stylesheet">
    <link href="~/assets/css/boxed.css" rel="stylesheet">

</head>

<body class="ltr">

    <!-- Loader -->
    <div id="global-loader">
        <img src="~/assets/img/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- End Loader -->
    <!-- Page -->
    <div class="page">

        <!-- Main Header-->
        <div class="main-header side-header sticky">
            <div class="container-fluid main-container">
                <div class="main-header-left sidemenu">
                    <a class="main-header-menu-icon" href="" id="mainSidebarToggle"><span></span></a>
                </div>
                <a class="main-header-menu-icon  horizontal  d-lg-none" href="" id="mainNavShow"><span></span></a>
                <div class="main-header-left horizontal">
                    <a class="main-logo" href="index.html">
                        <img src="~/assets/img/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
                        <img src="~/assets/img/brand/logo-light.png" class="header-brand-img desktop-logo theme-logo" alt="logo">
                    </a>
                </div>
                <div class="main-header-right">
                    <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto collapsed" type="button"
                            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4"
                            aria-controls="navbarSupportedContent-4" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon fe fe-more-vertical "></span>
                    </button>
                    <div class="navbar navbar-expand-lg navbar-collapse responsive-navbar p-0">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                            <ul class="nav nav-item header-icons navbar-nav-right ms-auto">
                                <!-- Theme-Layout -->
                                <div class="dropdown  d-flex">
                                    <a class="nav-link icon theme-layout nav-link-bg layout-setting">
                                        <span class="dark-layout"><i class="fe fe-moon"></i></span>
                                        <span class="light-layout"><i class="fe fe-sun"></i></span>
                                    </a>
                                </div>
                                <!-- Theme-Layout -->
                                <li class="dropdown header-search">
                                    <a class="nav-link icon header-search">
                                        <i class="fe fe-search"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="main-form-search p-2">
                                            <input class="form-control" placeholder="Search" type="search">
                                            <button class="btn"><i class="fe fe-search"></i></button>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a class="nav-link icon full-screen-link">
                                        <i class="fe fe-maximize fullscreen-button"></i>
                                    </a>
                                </li>
                                <li class="dropdown main-header-notification">
                                    <a class="nav-link icon" href="">
                                        <i class="fe fe-bell"></i>
                                        <span class="pulse bg-danger"></span>
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="header-navheading">
                                            <p class="main-notification-text">
                                                You have 1 unread notification<span class="badge bg-pill badge-primary ms-3">View all</span>
                                            </p>
                                        </div>
                                        <div class="main-notification-list">
                                            <a href="view-mail.html" class="media new">
                                                <div class="main-img-user online">
                                                    <img alt="avatar"
                                                         src="~/assets/img/users/5.jpg">
                                                </div>
                                                <div class="media-body">
                                                    <p>
                                                        Congratulate <strong>Olivia James</strong> for New template
                                                        start
                                                    </p>
                                                    <span>Oct 15 12:32pm</span>
                                                </div>
                                            </a>
                                            <a href="view-mail.html" class="media">
                                                <div class="main-img-user">
                                                    <img alt="avatar"
                                                         src="~/assets/img/users/2.jpg">
                                                </div>
                                                <div class="media-body">
                                                    <p><strong>Joshua Gray</strong> New Message Received</p>
                                                    <span>
                                                        Oct 13
                                                        02:56am
                                                    </span>
                                                </div>
                                            </a>
                                            <a href="view-mail.html" class="media">
                                                <div class="main-img-user online">
                                                    <img alt="avatar"
                                                         src="~/assets/img/users/3.jpg">
                                                </div>
                                                <div class="media-body">
                                                    <p>
                                                        <strong>Elizabeth Lewis</strong> added new schedule realease
                                                    </p><span>
                                                        Oct
                                                        12 10:40pm
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="dropdown-footer">
                                            <a href="mail-inbox.html">View All Notifications</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown main-profile-menu">
                                    <a class="main-img-user" href="">
                                        <img alt="avatar"
                                             src="~/assets/img/users/1.jpg">
                                    </a>
                                    <div class="dropdown-menu">
                                        <div class="header-navheading">
                                            <h6 class="main-notification-title">@HttpContextAccessor.HttpContext.Session.GetString("Name")</h6>
                                            <p class="main-notification-text">@User.FindFirst(claim => claim.Type == System.Security.Claims.ClaimTypes.Role)?.Value</p>
                                        </div>
                                        <a class="dropdown-item border-top text-wrap" href="#">
                                            <i class="fe fe-user"></i> My Profile
                                        </a>
                                        <a class="dropdown-item text-wrap" href="#">
                                            <i class="fe fe-edit"></i> Edit Profile
                                        </a>
                                        <a class="dropdown-item text-wrap" href="#">
                                            <i class="fe fe-settings"></i> Settings
                                        </a>
                                        <a class="dropdown-item text-wrap" href="#">
                                            <i class="fe fe-activity"></i> Activity
                                        </a>
                                        <a class="dropdown-item text-wrap" asp-action="Logout" asp-controller="Home">
                                            <i class="fe fe-power"></i> Sign Out
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Main Header-->
        <!-- Sidemenu -->
        <div class="main-sidebar main-sidemenu main-sidebar-sticky side-menu">
            <div class="sidemenu-logo">
                <a class="main-logo" href="index.html">
                    <img src="~/assets/img/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
                    <img src="~/assets/img/brand/icon.png" class="header-brand-img icon-logo" alt="logo">
                    <img src="~/assets/img/brand/logo-light.png" class="header-brand-img desktop-logo theme-logo"
                         alt="logo">
                    <img src="~/assets/img/brand/icon-light.png" class="header-brand-img icon-logo theme-logo"
                         alt="logo">
                </a>
            </div>
            <div class="main-sidebar-body">
                <div class="slide-left disabled" id="slide-left">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                    </svg>
                </div>
                <ul class="nav hor-menu">
                    <li class="nav-label">Dashboard</li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Dashboard">
                            <i class="fe fe-airplay"></i><span class="sidemenu-label">Dashboard</span>
                        </a>

                    <li class="nav-label">Components</li>



                    @if (Context.Session.GetString("AllLevelList") != null)
                    {
                        List<DashboardModel> parentList = JsonConvert.DeserializeObject<List<DashboardModel>>(Context.Session.GetString("AllLevelList"));
                        List<String> ParentHeadingList = parentList.Select(x => x.ParentMenuName).Distinct().ToList();

                        @foreach (String Parent in ParentHeadingList)
                        {
                            List<DashboardModel> subParentlist = parentList.Where(ParentHeading => ParentHeading.ParentMenuName.Equals(Parent)).ToList();
                            List<String> SubParentHeadingList = subParentlist.Select(x => x.SubMenuName).Distinct().ToList();
                            <li class="nav-item">
                                <a class="nav-link with-sub" href="#">
                                    <i class="fe fe-compass"></i><span class="sidemenu-label"> @Parent</span><i class="angle fe fe-chevron-right"></i>
                                </a>
                                <ul class="nav-sub">
                                    <li class="side-menu-label1"><a href="javascript:void(0)">Components</a></li>

                                    @foreach (String subparent in SubParentHeadingList)
                                    {
                                        List<DashboardModel> subParentChildlist = subParentlist.Where(ParentHeading => ParentHeading.SubMenuName.Equals(subparent)).ToList();
                                        List<String> SubParentChildHeadingList = subParentChildlist.Select(x => x.MenuName).Distinct().ToList();
                                        if (SubParentChildHeadingList[0] != "*")
                                        {
                                            <li class="nav-sub-item">
                                                <a class="nav-sub-link with-sub1" href="#">
                                                    <span class="sidemenu-label">@subparent</span><i class="angle1 fe fe-chevron-right"></i>
                                                </a>
                                                <ul class="nav-sub1">
                                                    @foreach (String subparentchild in SubParentChildHeadingList)
                                                    {
                                                        List<DashboardModel> a = parentList.Where(ParentHeading => ParentHeading.MenuName.Equals(subparentchild)).Distinct().ToList();

                                                        <li class="nav-sub-item">
                                                            <a class="nav-sub-link" asp-action=@a[0].Action asp-controller=@a[0].Controller>@subparentchild</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }
                                        else
                                        {
                                            List<DashboardModel> a = parentList.Where(ParentHeading => ParentHeading.SubMenuName.Equals(subparent)).Distinct().ToList();

                                            <li class="nav-sub-item">
                                                <a class="nav-sub-link" asp-action=@a[0].Action asp-controller=@a[0].Controller>@subparent</a>
                                            </li>
                                        }

                                    }
                                </ul>
                            </li>
                        }
                    }

                </ul>




            </div>
        </div>
        <!-- End Sidemenu -->
        <!-- Main Content-->
        <div class="main-content side-content pt-0">
            <div id="layoutSidenav_content" class="side-app">
                <div class="main-container container-fluid" role="main">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- End Main Content-->
        <!-- Main Footer-->
        <div class="main-footer text-center">
            <div class="">
                <div class="row">
                    <div class="col-md-12">
                        <span>
                            Copyright © 2022 @*<a href="#" class="text-primary">Dashlead</a>. Designed with <span class="fa fa-heart text-danger"></span> by <a href="https://www.spruko.com/"
                                class="text-primary">Spruko</a>*@
                            All rights reserved.
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!--End Footer-->

    </div>
    <!-- End Page -->
    <!-- Back-to-top -->
    <a href="#top" id="back-to-top"><i class="fe fe-arrow-up"></i></a>

    <!-- Jquery js-->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/plugins/bootstrap/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>


    <!-- Flot js-->
    <script src="~/assets/plugins/jquery.flot/jquery.flot.js"></script>
    <script src="~/assets/plugins/jquery.flot/jquery.flot.resize.js"></script>
    <script src="~/assets/js/chart.flot.sampledata.js"></script>

    <!-- Chart.Bundle js-->
    <script src="~/assets/plugins/chart.js/Chart.bundle.min.js"></script>

    <!-- Peity js-->
    <script src="~/assets/plugins/peity/jquery.peity.min.js"></script>

    <!-- Jquery-Ui js-->
    <script src="~/assets/plugins/jquery-ui/ui/widgets/datepicker.js"></script>

    <!-- Select2 js-->
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>

    <!--MutipleSelect js-->
    <script src="~/assets/plugins/multipleselect/multiple-select.js"></script>
    <script src="~/assets/plugins/multipleselect/multi-select.js"></script>

    <!-- Perfect-scrollbar js-->
    <script src="~/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <!-- Sidemenu js-->
    <script src="~/assets/plugins/sidemenu/sidemenu.js"></script>

    <!-- Sidebar js-->
    <script src="~/assets/plugins/sidebar/sidebar.js"></script>

    <!-- Sticky js-->
    <script src="~/assets/js/sticky.js"></script>

    <!-- Dashboard js-->
    <script src="~/assets/js/index.js"></script>

    <!-- Themecolor js-->
    <script src="~/assets/js/themeColors.js"></script>

    <!-- Custom js-->
    <script src="~/assets/js/custom.js"></script>



    <script type="text/javascript" language="javascript">
        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }
    </script>


    @*//for msg*@
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript">
    $(function() {
        var save ='@TempData["success"]'
        if (save != '') {
            alertify.success(save)
        }
    })
    </script>
    <script type="text/javascript">
    $(function() {
        var error ='@TempData["error"]'
        if (error != '') {
            alertify.error(error);
        }
    })
    </script>

    @*//for select2 dropdown*@
    @section Scripts{
        <!-- Custom js-->
        <script src="~/assets/js/select2.js"></script>
    }

    @*//for validation*@
    <script src="~/assets/lib/jquery/dist/jquery.js"></script>
    <script src="~/assets/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @*select 2 dropdown script and css*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--These jQuery libraries for
       chosen need to be included-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css" />

    <!--These jQuery libraries for select2
        need to be included-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" />
    <script>
        $(document).ready(function () {
            //Select2
            $(".select").select2({
                maximumSelectionLength: 2,
            });
            //Chosen
            $(".select1").chosen({
                max_selected_options: 2,
            });
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
