@model CoreLayout.Models.PCP.PCPUploadPaperModel
@{
    ViewData["Title"] = "Edit";
}
<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Edit Upload Paper</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">UploadPaper</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
    </div>

</div>
<!-- End Page Header -->
<!-- Conetnt Start-->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                @*<div>
                        <h6 class="card-title mb-1">Edit State</h6>
                        <hr />
                    </div>*@

                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <input type="hidden" asp-for="PaperId" />
                        <div asp-validation-summary="ModelOnly" class="parsley-errors-list filled">

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="QPId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="QPId" asp-items="@(new SelectList(Model.QPList,"QPId","CombineQPName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span asp-validation-for="QPId" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CourseId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control" asp-for="CourseId" asp-items="@(new SelectList(Model.CourseList,"CourseId","CourseName"))">
                                    @*<option selected="selected" disabled="disabled" value="">--Select-- </option>*@
                                </select>

                                <span class="parsley-errors-list filled" asp-validation-for="CourseId"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SemYearId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control" asp-for="SemYearId" asp-items="@(new SelectList(Model.SemYearList,"SemYearId","SemYearId"))">
                                    @*<option selected="selected" disabled="disabled" value="">--Select-- </option>*@
                                </select>
                                <span class="parsley-errors-list filled" asp-validation-for="SemYearId"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="BranchId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control" asp-for="BranchId" asp-items="@(new SelectList(Model.BranchList,"BranchID","BranchName"))">
                                    @*<option selected="selected" disabled="disabled" value="">--Select-- </option>*@
                                </select>

                                <span class="parsley-errors-list filled" asp-validation-for="BranchId"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SessionId"> </label><span class="tx-danger"> *</span>
                                <select class="form-control" asp-for="SessionId" asp-items="@(new SelectList(Model.SessionList,"SyllabusId","SyllabusName"))">
                                    @*<option selected="selected" disabled="disabled" value="">--Select-- </option>*@
                                </select>

                                <span class="parsley-errors-list filled" asp-validation-for="SessionId"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="UploadPaperEdit"> </label><span class="tx-danger"> *</span>
                                <input asp-for="UploadPaperEdit" class="form-control" />
                                <span asp-validation-for="UploadPaperEdit" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="AnswerPaperEdit"> </label><span class="tx-danger"> *</span>
                                <input asp-for="AnswerPaperEdit" class="form-control" />
                                <span asp-validation-for="AnswerPaperEdit" class="parsley-errors-list filled"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" asp-route-id="@Model.EncryptedId" class="btn btn-primary" value="Update" />
                            <a asp-action="Index" class="btn btn-success">Back to List</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- Conetnt End-->

@section Scripts{
    @*bind course in exam selected*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
            $(document).ready(function () {
                $("#QPId").on("change", function () {
                    $("#CourseId").empty();
                    $("#BranchId").empty();
                    $("#SessionId").empty();
                    $("#SemYearId").empty();
                    var ddlsource = "#QPId";
                    var url = '@Url.Content("~/")' + "PCPUploadPaper/GetCourseSubjectSemYearSyl?QPId="+$(ddlsource).val();

                    $.getJSON(url, function (data) {
                        console.log(data)
                        var items = '';
                        var items1 = '';
                        var items2 = '';
                        var items3 = '';
                        $("#CourseId").empty();
                        $("#BranchId").empty();
                        $("#SessionId").empty();
                        $("#SemYearId").empty();
                        $.each(data, function (i, qp) {
                            items += "<option value ='" + qp.courseId + "'>" + qp.courseName + "</option>";
                            items1 += "<option value ='" + qp.branchID + "'>" + qp.branchName + "</option>";
                            items2 += "<option value ='" + qp.syllabusId + "'>" + qp.syllabusName + "</option>";
                            items3 += "<option value ='" + qp.semYearId + "'>" + qp.semYearId + "</option>";
                        });

                        $('#CourseId').html(items);
                        $('#BranchId').html(items1);
                        $('#SessionId').html(items2);
                        $('#SemYearId').html(items3);
                });
                });
            });

    </script>

}
