@using CoreLayout.Models.PCP
@model IEnumerable<PCPSendPaperModel>
@{
    ViewData["title"] = "Index";
}
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">View Paper List</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">ViewPaper</a></li>
            <li class="breadcrumb-item active" aria-current="page">List</li>
        </ol>
    </div>
    @*<div class="btn btn-list">
            <a class="btn ripple btn-success btn-sm" asp-action="Create" asp-route-id=@ViewBag.MaxPaperId><i class="fe fe-plus"></i> Upload Paper</a>
        </div>*@
</div>

<!-- Row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <form method="post" id="form1">
                    @*@Html.HiddenFor(m => m.Name)*@
                    @Html.Hidden("sendpaperid", (object)ViewBag.sendpaperid)
                    <div asp-validation-summary="ModelOnly" class="parsley-errors-list filled">

                    </div>
                    <div class="table-responsive-sm">
                        <table id="exportexample" class="table table-sm table-bordered key-buttons text-wrap w-100">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>S.No</th>
                                    <th>
                                        @Html.DisplayNameFor(c => c.QPId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(c => c.QPCode)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(c => c.CourseId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(c => c.BranchName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(c => c.Session)<br />
                                        @Html.DisplayNameFor(c => c.SemYearId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(c => c.PaperPassword)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(c => c.PaperPath)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(c => c.PaperOpenTime)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(c => c.StaticIPAddress)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(c => c.CreatedByName)
                                    </th>
                                    <th>
                                        Send Date
                                    </th>
                                    <th>Status</th>
                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    int sno = 0;
                                }
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        @if (@item.AcceptedStatus == null || @item.AcceptedStatus == "")
                                        {
                                            <td> <input type="checkbox" id="chkid" value="@item.SendPaperId" /></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        <td>
                                            @{ sno++; }
                                            @sno
                                        </td>
                                        <td>@item.QPName</td>
                                        <td>@item.QPCode</td>
                                        <td>@item.CourseName</td>
                                        <td>@item.BranchName</td>
                                        <td>@item.Session <br /> @item.SemYearId</td>
                                        <td>
                                            @if (item.AcceptedStatus != null)
                                            {
                                                @if (ViewBag.EncryptPwdList != null)
                                                {
                                                    foreach (var item1 in ViewBag.EncryptPwdList)
                                                    {
                                                        @item.DecryptPassword
                                                        break;
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            <img src="~/Images/pdfimage.png" height=30 width=30 /><br />
                                            @if (item.AcceptedStatus != null)
                                            {

                                                <a asp-action="Download" asp-route-id="@item.EncryptedId" target="_blank">Download</a>
                                            }
                                        </td>
                                        <td>@item.PaperOpenTime</td>
                                        <td>@item.StaticIPAddress</td>
                                        <td>@item.CreatedByName</td>
                                        <td>@item.CreatedDate</td>
                                        <td>
                                            <div class="table-actions text-center">
                                                @if (@item.AcceptedStatus == null || @item.AcceptedStatus == "")
                                                {
                                                    <label style="font-weight:bold; color:red">Not Accepted</label>
                                                }
                                                else
                                                {
                                                    <label style="font-weight:bold; color:green">Accepted</label>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div>
                            <input type="submit" id="btnAccept" value="Accept" class="btn btn-success" onclick="return confirm('Are you want to accept ?')" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

@section Scripts{

    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/table-data.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatable/responsive.bootstrap5.min.js"></script>

    @*final submit*@

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnAccept").click(function () {
                document.getElementById("sendpaperid").value = '';
                var userid = [];
                var i = 0;
                //Loop through all checked CheckBoxes in GridView.
                $("#exportexample tbody input[type=checkbox]:checked").each(function () {
                    userid[i] = $(this).val();
                    i++;

                });
                if (userid.length > 0) {
                    document.getElementById("sendpaperid").value = userid;
                }
                else {
                    alert("Select atleast one checkbox");
                    //var form = document.getElementById("form1");
                    //form.preventDefault();
                }
            });
        });
    </script>
}
