@model CoreLayout.Models.Masters.CourseDetailsModel
@{
    ViewData["Title"] = "Edit";
}

<!-- Page Header -->
<div class="page-header">
    <div>
        <h2 class="main-content-title tx-24 mg-b-5">Edit CourseDetails</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">CourseDetails</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
    </div>

</div>
<!-- End Page Header -->
<!-- Conetnt Start-->
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                @*<div>
                        <h6 class="card-title mb-1">Edit State</h6>
                        <hr />
                    </div>*@
                <form asp-action="Edit" method="post">
                    <div class="row">
                        <input type="hidden" asp-for="CourseDetailId" />
                        <div asp-validation-summary="ModelOnly" class="text-danger">

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CourseID"> </label><span class="tx-danger"> *</span>
                                <select class="form-control select" asp-for="CourseID" asp-items="@(new SelectList(Model.CourseList,"CourseID","CourseName"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span asp-validation-for="CourseID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="PramotionType"> </label><span class="tx-danger"> *</span>
                                @Html.DropDownList("PramotionType", new List<SelectListItem>
                              {
                                new SelectListItem{ Text="--Select Pramotion Type--", Value = "" },
                               new SelectListItem{ Text="Annual", Value = "Annual" },
                               new SelectListItem{ Text="Semester", Value = "Semester" },
                                new SelectListItem{ Text="Mix", Value = "Mix" },
                              },
                              new { @class = "form-control" })
                                <span asp-validation-for="PramotionType" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CourseDurationType"> </label><span class="tx-danger"> *</span>
                                @*<input asp-for="CourseDurationType" class="form-control" />*@
                                @Html.DropDownList("CourseDurationType", new List<SelectListItem>
                            {
                              new SelectListItem{ Text="--Select Course Exam Type--", Value = "" },
                              new SelectListItem{ Text="Semester", Value = "Semester" },
                              new SelectListItem{ Text="Annual", Value = "Annual" },
                              new SelectListItem{ Text="Professional", Value = "Professional" },
                            },
                            new { @class = "form-control" })
                                <span asp-validation-for="CourseDurationType" class="parsley-errors-list filled"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SessionId" class="mg-b-10"> </label>
                                <select class="form-control select" asp-for="SessionId" asp-items="@(new SelectList(Model.SessionList,"SessionId","Session"))">
                                    <option selected="selected" disabled="disabled" value="">--Select-- </option>
                                </select>
                                <span asp-validation-for="SessionId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="NumberOfYear" class="mg-b-10"> </label>
                                <input asp-for="NumberOfYear" class="form-control" />
                                <span asp-validation-for="NumberOfYear" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="NumberOfSemester" class="mg-b-10"> </label>
                                <input asp-for="NumberOfSemester" class="form-control" />
                                <span asp-validation-for="NumberOfSemester" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ProcessGroupType" class="mg-b-10"> </label>
                                <input asp-for="ProcessGroupType" class="form-control" />
                                <span asp-validation-for="ProcessGroupType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="IsGrade" class="mg-b-10"> </label>
                                @Html.DropDownList("IsGrade", new List<SelectListItem>
                                {
                                 new SelectListItem{ Text="No", Value = "0" },
                                 new SelectListItem{ Text="Yes", Value = "1" },
                                },
                                new { @class = "form-control" })
                                <span asp-validation-for="IsGrade" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="IsCreadit" class="mg-b-10"> </label>
                                @Html.DropDownList("IsCreadit", new List<SelectListItem>
                                {
                                 new SelectListItem{ Text="No", Value = "0" },
                                 new SelectListItem{ Text="Yes", Value = "1" },
                                },
                                new { @class = "form-control" })
                                <span asp-validation-for="IsCreadit" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" asp-route-id="@Model.EncryptedId" class="btn btn-primary" value="Update" />
                            <a asp-action="Index" class="btn btn-success">Back to List</a>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- Conetnt End-->