@model CoreLayout.Models.PCP.PCPRegistrationModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@*<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Register</title>
        <link href="~/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>*@
<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="description" content="Chhatrapati Shahu Ji Maharaj University, Kanpur">
    <meta name="author" content="CSJMU Kanpur - PMU Team">
    <meta name="keywords" content="Chhatrapati Shahu Ji Maharaj University, Kanpur, CSJMU, csjmu">

    <!-- Favicon -->
    <link rel="icon" href="~/assets/img/brand/favicon.ico" type="image/x-icon" />

    <!-- Title -->
    <title>Chhatrapati Shahu Ji Maharaj University, Kanpur</title>

    <!---bootstrap css-->
    <link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!---Falg-icons css-->
    <link href="../assets/plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

    <!--- FONT-ICONS CSS -->
    <link href="~/assets/css/icons.css" rel="stylesheet">

    <!---Style css-->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/skins.css" rel="stylesheet">
    <link href="~/assets/css/dark-style.css" rel="stylesheet">
    <link href="~/assets/css/transparent-style.css" rel="stylesheet">
    <link href="~/assets/css/boxed.css" rel="stylesheet">

</head>
@*<body style="background: url(../Images/pgbg.jpg); background-size: cover; background-repeat: no-repeat; ">*@
<body style="background: none; background-size: cover; background-repeat: no-repeat; ">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">

                    <div class="card-header"><h3 class="text-center font-weight-bold my-1">Create Account</h3></div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div asp-validation-summary="ModelOnly" class="parsley-errors-list filled">

                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-1 mb-0">
                                    @if (ViewBag.errormsg != null && ViewBag.errormsg != "")
                                    {
                                        <span style="font-weight:bold" class="text-danger">@ViewBag.errormsg</span>
                                    }

                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="UserName"> </label><span class="tx-danger"> *</span>
                                        <input class="form-control" asp-for="UserName" type="text" onkeydown="upperCaseF(this)" />
                                        <span class="parsley-errors-list filled" asp-validation-for="UserName"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="FatherName"> </label><span class="tx-danger"> *</span>
                                        <input class="form-control" asp-for="FatherName" type="text" onkeydown="upperCaseF(this)" />
                                        <span class="parsley-errors-list filled" asp-validation-for="FatherName"></span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Address"> </label><span class="tx-danger"> *</span>
                                        <input class="form-control" asp-for="Address" type="text" onkeydown="upperCaseF(this)" />
                                        <span class="parsley-errors-list filled" asp-validation-for="Address"></span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="TypeOfEmployeement"> </label><span class="tx-danger"> *</span>
                                        @Html.DropDownList("TypeOfEmployeement", new List<SelectListItem>
                                                   {
                                                   new SelectListItem{ Text="----Select Job Type----", Value = string.Empty },
                                                   new SelectListItem{ Text="Permanent", Value = "Permanent" },
                                                   new SelectListItem{ Text="Contractual", Value = "Contractual" },
                                                   },
                                                   new { @class = "form-control" })
                                        <span class="parsley-errors-list filled" asp-validation-for="TypeOfEmployeement "></span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="TeachingExp"> </label><span class="tx-danger"> *</span>
                                        <input class="form-control" asp-for="TeachingExp" type="number" maxlength="2" />
                                        <span class="parsley-errors-list filled" asp-validation-for="TeachingExp"></span>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="PaperSettingExp"> </label><span class="tx-danger"> *</span>
                                        <input class="form-control" asp-for="PaperSettingExp" type="number" maxlength="2" />
                                        <span class="parsley-errors-list filled" asp-validation-for="PaperSettingExp"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Aadhar"> </label><span class="tx-danger"> *</span>
                                        <input class="form-control" asp-for="Aadhar" type="text" maxlength="12" onkeydown="upperCaseF(this)" />
                                        <span class="parsley-errors-list filled" asp-validation-for="Aadhar"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="PAN"> </label><span class="tx-danger"> *</span>
                                        <input class="form-control" asp-for="PAN" type="text" maxlength="12" onkeydown="upperCaseF(this)" />
                                        <span class="parsley-errors-list filled" asp-validation-for="PAN"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="MobileNo"> </label><span class="tx-danger"> *</span>
                                        <input class="form-control" asp-for="MobileNo" maxlength="10" />
                                        <span class="parsley-errors-list filled" asp-validation-for="MobileNo"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="EmailID"> </label><span class="tx-danger"> *</span>
                                        <input class="form-control" asp-for="EmailID" type="email" placeholder="name@example.com" onkeydown="upperCaseF(this)" />
                                        <span class="parsley-errors-list filled" asp-validation-for="EmailID"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="InstituteCode"> </label><span class="tx-danger"> *</span>
                                        <input class="form-control" asp-for="InstituteCode" type="text" maxlength="10" onkeydown="upperCaseF(this)" />
                                        <span class="parsley-errors-list filled" asp-validation-for="InstituteCode"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="InstituteName"> </label><span class="tx-danger"> *</span>
                                        <input class="form-control" asp-for="InstituteName" type="text" onkeydown="upperCaseF(this)" />
                                        <span class="parsley-errors-list filled" asp-validation-for="InstituteName"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="CourseID"> </label><span class="tx-danger"> *</span>
                                        <select class="form-control select" asp-for="CourseID" asp-items="@(new SelectList(Model.CourseList,"CourseID","CourseName"))">
                                            <option selected="selected" disabled="disabled" value="">--Select Course-- </option>
                                        </select>
                                        <span class="parsley-errors-list filled" asp-validation-for="CourseID"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="BranchId"> </label><span class="tx-danger"> *</span>
                                        <select class="form-control" asp-for="BranchId" asp-items="@(new SelectList(string.Empty,"BranchId","BranchName"))">
                                            <option selected="selected" disabled="disabled" value="">--Select Subject-- </option>
                                        </select>
                                        <span class="parsley-errors-list filled" asp-validation-for="BranchId"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="BankName"> </label><span class="tx-danger"> *</span>
                                        <input class="form-control" asp-for="BankName" type="text" onkeydown="upperCaseF(this)" />
                                        <span class="parsley-errors-list filled" asp-validation-for="BankName"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="IFSC"> </label><span class="tx-danger"> *</span>
                                        <input class="form-control" asp-for="IFSC" type="text" maxlength="10" onkeydown="upperCaseF(this)" />
                                        <span class="parsley-errors-list filled" asp-validation-for="IFSC"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="AccountNo"> </label><span class="tx-danger"> *</span>
                                        <input class="form-control" asp-for="AccountNo" maxlength="20" />
                                        <span class="parsley-errors-list filled" asp-validation-for="AccountNo"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="BranchAddress"> </label><span class="tx-danger"> *</span>
                                        <input class="form-control" asp-for="BranchAddress" type="text" onkeydown="upperCaseF(this)" />
                                        <span class="parsley-errors-list filled" asp-validation-for="BranchAddress"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="ProfileImage"> </label><span class="tx-danger"> *</span>
                                        <input asp-for="ProfileImage" class="form-control" />
                                        <span class="parsley-errors-list filled" asp-validation-for="ProfileImage"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Specilization"> </label><span class="tx-danger"> *</span>
                                        <input class="form-control" asp-for="Specilization" type="tel" onkeydown="upperCaseF(this)" />
                                        <span class="parsley-errors-list filled" asp-validation-for="Specilization"></span>
                                    </div>
                                </div>
                                @*<div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Remarks"> </label><span class="tx-danger"> *</span>
                                        <input class="form-control" asp-for="Remarks" type="text" onkeydown="upperCaseF(this)" />
                                        <span class="parsley-errors-list filled" asp-validation-for="Remarks"></span>
                                    </div>
                                </div>*@
                                <div class="form-group">
                                    <input class="btn btn-primary btn-block" type="submit" value="Create Account" onclick="return confirm('Are you sure you want to submit this?')" />
                                </div>
                                <div class="card-footer text-center py-1">
                                    <div class="small"><a asp-action="Login" asp-controller="Home">Have an account? Go to login</a></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </main>
        </div>

    </div>


    <!-- Jquery js-->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/plugins/bootstrap/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Themecolor js-->
    <script src="~/assets/js/themeColors.js"></script>

    <!-- Perfect-scrollbar js-->
    <script src="~/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <!-- Custom js-->
    <script src="~/assets/js/custom.js"></script>

    @*//for validation*@
    <script src="~/assets/lib/jquery/dist/jquery.js"></script>
    <script src="~/assets/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @*select 2 dropdown script and css*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--These jQuery libraries for
       chosen need to be included-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css" />

    <!--These jQuery libraries for select2
        need to be included-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" />
    <script>
        $(document).ready(function () {
            //Select2
            $(".select").select2({
                maximumSelectionLength: 2,
            });
            //Chosen
            $(".select1").chosen({
                max_selected_options: 2,
            });
        });
    </script>

    @*upper case*@
    <script type="text/javascript">
        function upperCaseF(a) {
            setTimeout(function () {
                a.value = a.value.toUpperCase();
            }, 1);
        }
    </script>

    @*bind branch on selected value of course*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CourseID").on("change", function () {
                $("#BranchId").empty();
                var ddlsource = "#CourseID";
                var url = '@Url.Content("~/")' + "PCPRegistration/GetBranch?CourseId="+$(ddlsource).val();

                $.getJSON(url, function (data) {
                var items = '';

                    $.each(data, function (i, branch) {
                        items += "<option value ='" + branch.value + "'>" + branch.text + "</option>";
                });
                    $('#BranchId').html(items);
            });
            });
        });

    </script>

</body>
</html>
