@model CoreLayout.Models.PCP.PCPRegistrationModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@*<head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Register</title>
        <link href="~/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>*@
<head>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="description" content="Chhatrapati Shahu Ji Maharaj University, Kanpur">
    <meta name="author" content="CSJMU Kanpur - PMU Team">
    <meta name="keywords" content="Chhatrapati Shahu Ji Maharaj University, Kanpur, CSJMU, csjmu">

    <!-- Favicon -->
    <link rel="icon" href="~/assets/img/brand/favicon.ico" type="image/x-icon" />

    <!-- Title -->
    <title>Chhatrapati Shahu Ji Maharaj University, Kanpur</title>

    <!---bootstrap css-->
    <link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!---Falg-icons css-->
    <link href="../assets/plugins/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">

    <!--- FONT-ICONS CSS -->
    <link href="~/assets/css/icons.css" rel="stylesheet">

    <!---Style css-->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/skins.css" rel="stylesheet">
    <link href="~/assets/css/dark-style.css" rel="stylesheet">
    <link href="~/assets/css/transparent-style.css" rel="stylesheet">
    <link href="~/assets/css/boxed.css" rel="stylesheet">

</head>
<body style="background: url(../Images/pgbg.jpg); background-size: cover; background-repeat: no-repeat; ">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                <div class="card-body">
                                    <form method="post" enctype="multipart/form-data">
                                        <div asp-validation-summary="ModelOnly" class="parsley-errors-list filled">

                                        </div>
                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            @if (ViewBag.errormsg != null && ViewBag.errormsg != "")
                                            {
                                                <span style="font-weight:bold" class="text-danger">@ViewBag.errormsg</span>
                                            }

                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" asp-for="UserName" type="text" placeholder="Enter your name" onkeydown="upperCaseF(this)" />
                                                    <label asp-for="UserName">Name</label>
                                                    <span class="text-danger" asp-validation-for="UserName"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control" asp-for="FatherName" type="text" placeholder="Enter your father" onkeydown="upperCaseF(this)" />
                                                    <label asp-for="FatherName">FatherName</label>
                                                    <span class="text-danger" asp-validation-for="FatherName"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" asp-for="Address" type="text" placeholder="Enter your address" onkeydown="upperCaseF(this)" />
                                                    <label asp-for="Address">Address</label>
                                                    <span class="text-danger" asp-validation-for="Address"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    @*<label asp-for="TypeOfEmployeement">Type of Employeemeny</label>*@
                                                    @Html.DropDownList("TypeOfEmployeement", new List<SelectListItem>
                                                    {
                                                    new SelectListItem{ Text="----Select Job Type----", Value = string.Empty },
                                                    new SelectListItem{ Text="Permanent", Value = "Permanent" },
                                                    new SelectListItem{ Text="Contractual", Value = "Contractual" },
                                                    },
                                                    new { @class = "form-control" })
                                                    <span class="text-danger" asp-validation-for="TypeOfEmployeement"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" asp-for="TeachingExp" type="number" maxlength="2" placeholder="Enter your teaching exp" />
                                                    <label asp-for="TeachingExp">Teaching Experience</label>
                                                    <span class="text-danger" asp-validation-for="TeachingExp"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control" asp-for="PaperSettingExp" type="number" maxlength="2" placeholder="Enter your paper setting exp" />
                                                    <label asp-for="PaperSettingExp">Paper Setting Experience</label>
                                                    <span class="text-danger" asp-validation-for="PaperSettingExp"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" asp-for="Aadhar" type="text" maxlength="12" placeholder="Enter your aadhar" onkeydown="upperCaseF(this)" />
                                                    <label asp-for="Aadhar">Aadhar</label>
                                                    <span class="text-danger" asp-validation-for="Aadhar"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control" asp-for="PAN" type="text" maxlength="12" placeholder="Enter your pan" onkeydown="upperCaseF(this)" />
                                                    <label asp-for="PAN">PAN</label>
                                                    <span class="text-danger" asp-validation-for="PAN"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" asp-for="MobileNo" maxlength="10" placeholder="Enter your mobile number" />
                                                    <label asp-for="MobileNo">Mobile Number</label>
                                                    <span class="text-danger" asp-validation-for="MobileNo"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control" asp-for="EmailID" type="email" placeholder="name@example.com" onkeydown="upperCaseF(this)" />
                                                    <label asp-for="EmailID">Email address</label>
                                                    <span class="text-danger" asp-validation-for="EmailID"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" asp-for="InstituteCode" type="text" maxlength="10" placeholder="please enter institute code" onkeydown="upperCaseF(this)" />
                                                    <label asp-for="InstituteCode">Institute/College Code</label>
                                                    <span class="text-danger" asp-validation-for="InstituteCode"></span>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control" asp-for="InstituteName" type="text" placeholder="please enter institute name" onkeydown="upperCaseF(this)" />
                                                    <label asp-for="InstituteName">Institute/College Name</label>
                                                    <span class="text-danger" asp-validation-for="InstituteName"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <select class="form-control select" asp-for="CourseID" asp-items="@(new SelectList(Model.CourseList,"CourseID","CourseName"))">
                                                        <option selected="selected" disabled="disabled" value="">--Select Course-- </option>
                                                    </select>
                                                    @*<label asp-for="QPCode">Role</label>*@
                                                    <span class="text-danger" asp-validation-for="CourseID"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    @*subject*@
                                                    <select class="form-control" asp-for="BranchId" asp-items="@(new SelectList(string.Empty,"BranchId","BranchName"))">
                                                        <option selected="selected" disabled="disabled" value="">--Select Subject-- </option>
                                                    </select>

                                                    <span class="text-danger" asp-validation-for="BranchId"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" asp-for="BankName" type="text" placeholder="Enter your bank name" onkeydown="upperCaseF(this)" />
                                                    <label asp-for="BankName">Bank Name</label>
                                                    <span class="text-danger" asp-validation-for="BankName"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control" asp-for="IFSC" type="text" maxlength="10" placeholder="Enter your ifsc code" onkeydown="upperCaseF(this)" />
                                                    <label asp-for="IFSC">Bank IFSC</label>
                                                    <span class="text-danger" asp-validation-for="IFSC"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating mb-3 mb-md-0">
                                                    <input class="form-control" asp-for="AccountNo" maxlength="20" placeholder="Enter your account no" />
                                                    <label asp-for="AccountNo">Bank Account No</label>
                                                    <span class="text-danger" asp-validation-for="AccountNo"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input class="form-control" asp-for="BranchAddress" type="text" placeholder="Enter your branch address" onkeydown="upperCaseF(this)" />
                                                    <label asp-for="BranchAddress">Bank Branch Address</label>
                                                    <span class="text-danger" asp-validation-for="BranchAddress"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <div class="form-floating">
                                                    <input asp-for="ProfileImage" class="form-control" />
                                                    <label asp-for="ProfileImage">Photo</label>
                                                    <span class="text-danger" asp-validation-for="ProfileImage"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-floating">

                                                    <input class="form-control" asp-for="Specilization" type="tel" placeholder="please enter specilization" onkeydown="upperCaseF(this)" />
                                                    <label asp-for="Specilization">Specilization</label>
                                                    <span class="text-danger" asp-validation-for="Specilization"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" asp-for="Remarks" type="text" placeholder="Enter your remarks" onkeydown="upperCaseF(this)" />
                                            <label asp-for="Remarks">Remarks</label>
                                            @*<span class="text-danger" asp-validation-for="Remarks"></span>*@

                                        </div>
                                        <div>
                                            <input class="btn btn-primary btn-block" type="submit" value="Create Account" onclick="return confirm('Are you sure you want to submit this?')" />
                                        </div>

                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a asp-action="Login" asp-controller="Home">Have an account? Go to login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        @*<div id="layoutAuthentication_footer">
                <footer class="py-1 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>*@
    </div>


    <!-- Jquery js-->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/plugins/bootstrap/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- Themecolor js-->
    <script src="~/assets/js/themeColors.js"></script>

    <!-- Perfect-scrollbar js-->
    <script src="~/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <!-- Custom js-->
    <script src="~/assets/js/custom.js"></script>

    @*//for validation*@
    <script src="~/assets/lib/jquery/dist/jquery.js"></script>
    <script src="~/assets/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/assets/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @*select 2 dropdown script and css*@

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--These jQuery libraries for
       chosen need to be included-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.min.css" />

    <!--These jQuery libraries for select2
        need to be included-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" />
    <script>
        $(document).ready(function () {
            //Select2
            $(".select").select2({
                maximumSelectionLength: 2,
            });
            //Chosen
            $(".select1").chosen({
                max_selected_options: 2,
            });
        });
    </script>

    @*upper case*@
    <script type="text/javascript">
        function upperCaseF(a) {
            setTimeout(function () {
                a.value = a.value.toUpperCase();
            }, 1);
        }
    </script>

    @*bind branch on selected value of course*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CourseID").on("change", function () {
                $("#BranchId").empty();
                var ddlsource = "#CourseID";
                var url = '@Url.Content("~/")' + "PCPRegistration/GetBranch?CourseId="+$(ddlsource).val();

                $.getJSON(url, function (data) {
                var items = '';

                    $.each(data, function (i, branch) {
                        items += "<option value ='" + branch.value + "'>" + branch.text + "</option>";
                });
                    $('#BranchId').html(items);
            });
            });
        });

    </script>

</body>
</html>
